@font-face {
	font-family: 'Retrokia Caps Regular';
	src: url('../fonts/Retrokia\ Caps\ Regular.otf') format('opentype'),
       url('../fonts/Retrokia\ Caps\ Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


.radio-select li:first-child {
	display: none; /* hide the first option since it's the empty value */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body, html {
	/* font-family: 'Retrokia Caps Regular'; */
	margin: 0;
}

.nav.nav-pills {
	top: 60%;;font-size:0.8rem
}
.nav-item {
	border-color: #55c0af !important;
}

.nav-link {
	color: #55c0af;
}

.nav-pills .nav-link.active {
	text-decoration: underline;
	background-color: transparent;
	color: #55c0af;
}

.nav-link:hover {
	color: #55c0af;
	text-decoration: underline;
}

.font-family-default {
	font-family: 'Retrokia Caps Regular';
	font-size: 12px;
}

/* Wappler generated */

.style1 {background-color: #141414;/* color: #141414  *//* top: 50%  *//* left: 50%  *//* margin-right: -50%  */position: absolute
}
.style2 {
	background-color: #55c0ae;
}
.style4 {
	color: #55c0af;
	padding-left: 16px;
	padding-right: 16px;
	/* font family: Lato Latin	*/
	font-family: 'Retrokia Caps Regular';
}
.style8 {
	color: #55c0af;
	background-color: #55c0af;
}
.style9 {
	color: #0d0c0c;
}
.style10 {
	background-image: url("../image/fundo_tags.jpg");
	background-size: cover;
	margin-bottom: 0px;
}
.style11 {
	background-image: url("../image/buttom01.png");
	background-size: 199px 51px;
	width: 199px;
	height: 51px;
	color: rgba(0, 0, 0, 0);
}
.style12 {
	margin-bottom: 40px;
}
.style13 {
	text-align: center;
}
.style14 {
	text-align: center;
}
.style15 {
	text-align: center;
}
.style16 {
	text-align: center;
}
.style17 {
	text-align: center;
}
.style18 {
	text-align: center;
}
.style19 {
	text-align: center;
}
.style20 {
	margin-bottom: 0px;
}
.style21 {
	background-image: url("../image/buttom01.png");
	width: 199px;
	height: 51px;
	margin-top: 25px;
}
.style22 {
	text-align: center;
	padding-top: 22px;
}
.style23 {
	text-align: center;
	color: #55c0af;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: bold;
}
.style24 {
	height: 443px;
	padding-top: 60px;
}
.style25 {
	height: 443px;
}
.style26 {
	height: 443px;
	padding-top: 84px;
}
.style28 {
	width: 157px;
	height: 97px;
	margin-top: 48px;
}
.style29 {
	background-color: #000000;
	padding-bottom: 18px;
}
.style30 {
	color: #000;
}
.style31 {
	color: #000;
}
.style32 {
	color: #000;
	text-align: center;
	background-image: linear-gradient(359deg, #000 100%, white 100%);
}
.style33 {
	color: #000;
}
.style34 {
	text-align: center;
	width: 100px;
	margin-bottom: 45px;
	padding-bottom: 0px;
}
.style35 {
	text-align: center;
}
.style32:active {
	background-color: #000;
}
.style36 {
	padding-top: 28px;
}
.style37 {padding-top: 12px;padding-left: 7px;padding-right: 7px;
}
.style38 {margin-bottom: 18px;padding-top: 12px;padding-left: 7px;padding-right: 7px;
}
.style39 {
	position: relative;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #000), to(white));
	background-image: linear-gradient(0deg, #000 100%, white 100%);
}
.style40 {
	background-color: #fff;
	text-align: center;
	padding-bottom: 0px;
}
.style41 {
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	color: #fff;
}
.style43 {
	background-color: #55c0af;
}
.style44 {
	background-color: #000;
}
.style45 {
	text-align: center;
}
.style46 {
	text-align: center;
	font-family: 'Tenor Sans', sans-serif;
	color: #6c757d
}
.style47 {
	color: #000;
	background-color: #000;
}
.style48 {
	text-align: center;
	background-color: #000;
}
.style49 {
	color: #2dd1b7;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	padding-top: 450px;
}
.style50 {
	text-align: center;
	font-size: 16px;
	font-family: 'Retrokia Caps Regular';
	color: #8c8d8e;
	line-height: 1.8;
	margin-bottom: 0px;
	padding-top: 37px;
	padding-bottom: 10px;
}
.style51 {
	position: absolute;
	top: 100px;
}
.style52 {
	position: absolute;
}
.style53 {
	position: absolute;
	top: 50px;
}
.style54 {
	right: 100px;
	position: absolute;
}
.style55 {
	position: absolute;
	padding-top: 12px;
	padding-left: 250px;
	padding-right: 250px;

}
.style56 {
	text-align: center;
	width: 100%;
	margin-bottom: 0px;
	padding-bottom: 1px;/* background-image:  */
	/* background-size: contain */
}
.style57 {
	width: 199px;
	height: 51px;
	background-image: url("../image/buttom05.png");
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 50px;
	padding-top: 5px;
	font-weight: bold;
}
.style58 {
	width: auto;
}
.style59 {
	background-color: #000;
	background-image: linear-gradient(58deg, black 0%, #000 0%);
	padding-top: 40px;
}
.style61 {
	color: #2dd1b7;
}
.style62 {
	color: #3cd1b7;
	font-size: 14px;
}
.style63 {
	color: #2dd1b7;
	padding-top: 27px;
}
.style67 {
	color: #2dd1b7;
	font-family: 'Montserrat';
	font-size: 34px;
	line-height: 1.2;
	top: 3500px;
	padding: 65px 496px 11px 90px;
}
.style68 {
	font-size: 18px;
	padding-left: 90px;
	padding-right: 667px;
	font-family: 'PT Serif', serif;
}
.style69 {
	padding-top: 0px;
	padding-left: 55px;
	padding-right: 34px;
	position: absolute;
}
.style70 {
	font-size: 20px;
	font-family: 'Tenor Sans', sans-serif;
	line-height: 1.6;
	padding-bottom: 15px;
	padding-left: 90px;
	padding-right: 634px;
}
.style71 {
	padding-left: 88px;
	color: #fdcd2e;
	text-decoration: underline;
	font-family: 'PT Serif', serif;
}
.style4:active {
	color: #fff;
}
.style4:hover {
	color: #fff;
}
.style72 {
	font-size: 13px;
}
.style73 {
	background-size: auto;
	width: 200px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.style74 {
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	border-width: 0px;
}
.style75 {
	font-size: 14px;
}
.style66:active {
	color: #3cd1b7;
}
@media (min-width: 1200px) {
	.style69 {
		top: 2600px;
		padding-top: 24px;
		padding-left: 0px;
	}
	.style68 {
		padding-right: 560px;
	}
	.style67 {
		top: 2800px;
	}
	.style76 {
		position: absolute;
		top: 2650px;
	}
	.style46 {font-size: 28px
	}
}
@media (min-width: 992px) {
	.style69 {
		top: 2300px;
	}
	.style67 {
		padding-right: 337px;
		font-size: 30px;
	}
	.style70 {
		padding-right: 423px;
		font-size: 18px;
	}
	.style68 {
		padding-right: 404px;
		font-size: 16px;
	}
	.style82 {
		font-size: 18px;
	}
	.style4 {
		font-size: 12px;
		padding-left: 0px;
		padding-right: 11px;
	}
	.style46 {font-size: 24px
	}
}
@media (min-width: 768px) {
	.style69 {
		top: 1800px;
		position: absolute;
	}
	.style46 {
		margin-bottom: 0px;font-size: 18;
	}
}
.style76 {
	position: absolute;
	top: 2900px;
}
.style77 {
	text-align: center;
	background-image: url("../image/casal_03.jpg");
	height: 700px;
}
.style78 {
	color: #8c8d8e;
}
.style79 {
	color: #8c8d8e;
}
@media (min-width: 360px) {
	.title1b{font-size:12px;margin-top: 15px; margin-bottom: 15px;}
}
@media (min-width: 576px) {
	.title1b{font-size:18px;margin-top: 20px; margin-bottom: 20px;}
	.style91 {
		background-size: auto;
		background-position: center 50%;
	}
	.style93 {
		color: #000;
		background-color: #000;
	}
	.style87 {
		background-color: #000;
	}
	.style95 {
		background-color: #141414;
	}
	.style105 {
		color: #55c0af;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		margin: 286px 112px 15px 28px;
	}
	.style106 {
		font-size: 20px;
		font-family: Tenor sans;
	}
	.style107 {
		color: #bcbec0;
		font-family: 'Tenor Sans', sans-serif;
		font-size: 20px;
		margin-bottom: 18px;
		margin-left: 28px;
		margin-right: 138px;
	}
	.style108 {
		color: #bcbec0;
		font-family: 'PT Serif', serif;
		font-size: 16px;
		margin-bottom: 0px;
		margin-left: 28px;
		margin-right: 95px;
	}
	.style109 {
		background-image: url("../image/casal_03d.jpg");
		height: 780px;
	}
	.style110 {
		background-color: #000;
	}
	.style111 {
		margin-left: 18px;
		color: #fdcd2e;
		text-decoration: underline;
	}
	.style23 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.style140 {
		padding-left: 35px;
		padding-right: 20px;
	}
	.style59 {
		max-width: none;
	}
	.style56 {
		background-size: contain;
		background-image: url("../image/casal05.jpg");
	}
	.style50 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.style141 {
		background-color: #000;
	}
	.style94 {
		height: 28px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.style57 {
		background-size: contain;
	}
	.style56.style56b {
		background-repeat: no-repeat;
		background-size: cover;
	}
	.style49.style49b {
		font-size: 36px;
	}
	.style50.style50b {
		font-size: 14px;
	}
	.style143 {
		text-align: center;
	}
	.style58 {
		margin-top: 0px;
		margin-bottom: 0px;
		max-width: none;
	}
	.style144 {
		height: 1000px;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		background-image: url("../image/casal05c.jpg");
	}
	.style145 {
		display: block;
	}
	.style155 {
		font-size: 12px;
		color: #55c0af;
	}
	.style157 {
		font-size: 12px;
		color: #55c0af;
	}
	.style156 {
		font-size: 12px;
		color: #55c0af;
	}
	.style152 {
		font-size: 12px;
	}
	.style298 {width: 70%
	}
	.style206 {background-repeat: no-repeat
	}
	.style339b {height: 100%;background-size: cover;background-position: 80%
	}
	.style344 {background-color: #55c0af;height: 500px
	}
	.style350 {text-align: justify
	}
	.style342 {background-position: 70%;background-image: url("../image/concept1.jpg");background-size: cover
	}
	.style346 {background-color: rgba(0, 0, 0, 0)
	}
	.style363 {background-image: url("../image/maos.jpg");background-size: cover;background-position: 50%
	}
	.style358 {text-align: center
	}
	.style365 {background-color: #000
	}
	.style370 {background-image: url("../image/mao_celd.jpg");background-size: cover;height: 800px
	}
	.style371 {padding-top: 31px
	}
	.style372 {padding-left: 145px;padding-right: 59px
	}
	.style-cel {margin-top: 3px;margin-left: 136px;margin-right: 52px;padding-top: 5px
	}
	.style172 {width: 100px
	}
	.style205 {margin-bottom: 21px
	}
	.style412 {background-image: url("../image/bt_144.png")
	}
	.style352 {padding-left: 40px;padding-right: 40px
	}
	.style349 {padding-left: 16px
	}
	.style427 {background-size: cover;background-position: center
	}
}
@media (min-width: 768px) {
	.title1b{font-size:22px;margin-top: 25px; margin-bottom: 25px;}
	.style91 {
		background-position: center 50%;
		background-size: auto;
	}
	.style93 {
		height: 300px;
		margin-top: 0px;
	}
	.style95 {
		background-color: #141414;
	}
	.style109 {
		background-image: url("../image/casal_03d.jpg");
		background-size: cover;
		height: 680px;
	}
	.style111 {
		color: #fdcd2e;
		text-decoration: underline;
		margin-left: 19px;
	}
	.style23 {
		padding-left: 100px;
		padding-right: 101px;
	}
	.style124 {
		font-size: 16px;
		font-family: PT serif;
		padding-left: 20px;
		padding-right: 16px;
		color: #8c8d8e;
	}
	.style125 {
		font-size: 16px;
		font-family: PT serif;
		padding-left: 20px;
		padding-right: 5px;
		color: #8c8d8e;
	}
	.style126 {
		font-size: 16px;
		font-family: PT serif;
		padding-left: 10px;
		padding-right: 16px;
		color: #8c8d8e;
	}
	.style56 {
		background-position: 40%;
		background-size: contain;
		background-image: url("../image/casal05b.jpg");
	}
	.style5 {
		text-align: left;
	}
	.style50 {
		padding-left: 100px;
		padding-right: 100px;
	}
	.style105 {
		margin-top: 336px;
	}
	.style94 {
		height: 29px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.style57 {
		background-image: url("../image/buttom05.png");
		background-size: contain;
	}
	.style56.style56b {
		background-repeat: no-repeat;
		width: 100%;
		background-size: cover;
	}
	.style49 {
		padding-top: 257px;
	}
	.style49.style49b {
		font-size: 36px;
	}
	.style50.style50b {
		font-size: 14px;
	}
	.style58 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.style144 {
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		background-image: url("../image/casal05c.jpg");
	}
	.style145 {
		display: block;
	}
	.style154 {
		font-size: 12px;
		color: #55c0af;
	}
	.style152 {
		color: #55c0af;
		font-size: 12px;
	}
	.style155 {
		color: #55c0af;
	}
	.style157 {
		color: #55c0af;
	}
	.style156 {
		color: #55c0af;
	}
	.style158 {
		padding-left: 10px;
	}
	.style297 {padding-top: 85px
	}
	.style206 {background-repeat: no-repeat
	}
	.style342 {background-image: url("../image/concept1.jpg");background-size: cover;background-position: 70%
	}
	.style344 {background-color: #55c0af
	}
	.style351 {padding-top: 35px
	}
	.style350 {padding-top: 35px
	}
	.style349 {padding-top: 40px;padding-left: 24px
	}
	.style353 {padding-top: 18px;padding-bottom: 29px
	}
	.style366 {background-image: url("../image/casal04aa.jpg")
	}
	.style370 {background-image: url("../image/mao_celc.jpg");height: 600px;background-size: cover
	}
	.style373 {background-size: cover;background-image: url("../image/mao_cel.jpg")
	}
	.style374 {background-image: url("../image/mao_cel.jpg")
	}
	.style-ipad {height: 600px;background-size: contain
	}
	.style375 {margin-left: -1px;padding-top: 197px;padding-left: 24px
	}
	.style376 {padding-top: 103px
	}
	.style377 {padding-top: 190px;padding-left: 54px;padding-right: 41px
	}
	.style378 {padding-left: 60px;padding-right: 56px
	}
	.style379 {margin-left: -1px
	}
	.style205 {margin-left: 0px
	}
	.style401 {margin-left: 72px
	}
	.style232 {margin-bottom: 13px
	}
	.style412 {background-image: url("../image/bt_144.png");background-size: cover
	}
	.style417 {margin-bottom: 18px
	}
	.style37 {margin-bottom: 18px
	}
	.style420 {padding-top: 10px
	}
	.style354 {height: 400px
	}
	.style355 {height: 400px
	}
	.style427 {background-repeat: no-repeat;background-size: cover
	}
	.style438 {background-color: #000
	}
}
@media (min-width: 992px) {
	.title1b{font-size:26px;margin-top: 30px; margin-bottom: 30px;}
	.style91 {
		background-position: center 50%;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.style112 {
		font-size: 30px;
		font-family: 'Montserrat', sans-serif;
		color: #55c0af;
		margin-top: 27px;
	}
	.style113 {
		font-size: 20px;
		font-family: 'Tenor Sans', sans-serif;
		margin-top: 26px;
		margin-right: 546px;
		color: #bcbec0;
	}
	.style114 {
		font-size: 16px;
		font-family: 'PT Serif', serif;
		margin-top: 24px;
		margin-right: 482px;
		color: #bcbec0;
	}
	.style115 {
		text-decoration: underline;
		color: #fdcd2e;
		padding-left: 0px;
	}
	.style116 {
		background-color: #000;
		height: 480px;
		background-size: cover;
	}
	.style117 {
		background-color: #000;
	}
	.style123 {
		background-size: contain;
	}
	.style23 {
		padding-left: 50px;
		padding-right: 50px;
	}
	.style81 {
		padding-right: 31px;
	}
	.style56 {
		background-repeat: no-repeat;
		height: 1240px;
		background-size: cover;
	}
	.style57 {
		height: 51px;
		width: 258px;
		background-size: contain;
	}
	.style105 {
		margin-top: 456px;
		margin-right: 373px;
	}
	.style109.style109b {
		height: 800px;
	}
	.style107 {
		margin-right: 400px;
	}
	.style108 {
		margin-right: 364px;
	}
	.style142 {
		background-size: cover;
	}
	.style91.style91b {
		height: 500px;
	}
	.style92 {
		background-repeat: no-repeat;
		background-image: url("../image/bt_144.png");
		background-size: cover;
	}
	.style49 {
		padding-top: 394px;
	}
	.style63 {
		padding-right: 1px;
	}
	.style150 {
		padding-left: 13px;
	}
	.style151 {
		padding-left: 0px;
		padding-right: 0px;
	}
	.style152 {
		color: #55c0af;
		font-size: 12px;
		text-align: center;
		padding: 8px 9px 0px 1px;
	}
	.style153 {
		padding-top: 25px;
	}
	.style155 {
		color: #55c0af;
	}
	.style156 {
		color: #55c0af;
	}
	.style157 {
		color: #55c0af;
	}
	.style154 {
		padding-top: 8px;
	}
	.style158 {
		padding-left: 47px;
	}
	.style159 {
		padding-left: 44px;
	}
	.style160 {
		padding-left: 4px;
	}
	.style206 {height: 800px;background-repeat: no-repeat
	}
	.style354 {height: 400px
	}
	.style355 {height: 400px
	}
	.style363 {background-size: cover
	}
	.style365 {background-image: url("../image/mao_cel.jpg");background-size: cover
	}
	.laptop1 {background-image: url("../image/maos.jpg");background-size: cover
	}
	.style380 {padding-top: 106px;padding-right: 65px
	}
	.style381 {padding-top: 252px;padding-left: 87px;padding-right: 69px
	}
	.style382 {margin-left: 0px
	}
	.click1 {padding-left: 95px;padding-right: 108px
	}
	.style-ipad {background-image: url("../image/mao_cel4.jpg")
	}
	.style383 {padding-top: 165px;padding-left: 91px;padding-right: 96px
	}
	.cel2 {margin-bottom: 0px;padding-top: 174px;padding-left: 85px;padding-right: 98px
	}
	.cel3 {padding-right: 73px
	}
	.style388 {padding-right: 0px
	}
	.style390 {padding-top: 159px;padding-left: 83px;padding-right: 12px
	}
	.style392 {display: block
	}
	.style393 {display: inline-block
	}
	.style394 {margin-left: 15px;padding-left: 3px;padding-right: 9px
	}
	.style395 {margin-top: 302px;margin-right: -72px;padding-top: 15px;padding-left: 126px
	}
	.style170 {width: 250px
	}
	.style413 {margin-bottom: 49px
	}
	.style412 {width: 210px;height: 47px;padding-top: 11px
	}
	.style427 {background-size: cover
	}
	.style436 {padding-top: 20px
	}
	.style437 {padding-top: 20px
	}
	.style446 {background-image: url("../image/passport.jpg");background-repeat: no-repeat;width: 514px;height: 772px;background-position: center;background-size: contain
	}
	.style447 {width: 50%;text-align: center
	}
	.style448 {text-align: left
	}
	.style449 {font-weight: bold;margin-bottom: -1px
	}
	.style450 {font-style: italic;margin-bottom: 0px
	}
}
@media (min-width: 1200px) {
	.title1b{font-size:30px;margin-top: 40px; margin-bottom: 40px;}
	.style87 {
		text-align: center;
	}
	.style91 {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center 50%;
	}
	.style26 {
		height: 443px;
	}
	.style81 {
		padding-left: 17px;
	}
	.style56 {
		background-size: cover;
	}
	.style92.style92e {
		top: 450px;
	}
	.style57 {
		background-image: url("../image/buttom05.png");
		width: 258px;
		background-size: contain;
	}
	.style151 {
		padding-left: 43px;
	}
	.style158 {
		padding-left: 0px;
	}
	.style207.style207b {margin-right: 400px
	}
	.style206 {background-repeat: no-repeat;background-size: cover
	}
	.style207 {padding-right: 0px;margin-right: 400px
	}
	.style356 {background-image: url("../image/maos.jpg");background-size: cover;height: 100%
	}
	.style357 {background-color: #000;background-image: url("../image/maos.jpg")
	}
	.style358 {height: 500px;background-size: cover
	}
	.style359 {color: #fff;font-family: PT Serif;font-size: 14px
	}
	.style360 {color: #f8f9fa;font-family: PT Serif;font-size:14px
	}
	.style361 {color: #55c0af;font-family: Montserrat;font-size: 14px
	}
	.style363 {background-size: cover;background-position: center 20%;padding-top: 235px
	}
	.style350 {padding-top: 31px
	}
	.laptop1 {background-position: center 20%
	}
	.style383 {padding-top: 211px;padding-left: 110px;padding-right: 122px
	}
	.style373 {background-size: contain;background-repeat: no-repeat
	}
	.style384 {/* background-image: url("../image/mao_cel.jpg")  */background-size: cover
	}
	.style-ipad {background-image: url("../image/mao_cel4.jpg");background-size: cover
	}
	.style387 {padding-top: 209px;padding-left: 103px;padding-right: 117px
	}
	.style396 {padding-top: 202px;padding-left: 104px;padding-right: 18px
	}
	.style397 {margin-top: 340px;margin-left: 90px;margin-right: -2px;padding-bottom: 15px;padding-right: 114px
	}
	.style410 {background-color: #55c0af
	}
	.style411 {background-color: #55c0af
	}
	.style427 {background-size: cover
	}
	.style435 {padding-top: 25px
	}
	.style436 {padding-top: 25px
	}
	.style437 {padding-top: 25px
	}
}
.title1b {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.style80 {
	position: absolute;
	width: 350px;
}
.style81 {
	background-size: cover;
	font-size: 18px;
	text-align: left;
	margin-bottom: 0px;
	padding-left: 17px;
}
.style84 {
	background-image: url("../image/buttom02.png");
	height: 51px;
	width: 258px;
}
.style85 {
	position: absolute;
}
.style86 {
	left: 50%;
	right: 50%;
}
.style89 {
	background-image: url("../image/casal_03.jpg");
	color: rgba(0, 0, 0, 0);
	text-align: center;
}
.style91 {
	background-image: url("../image/casal02.jpg");
	text-align: center;
	background-position: center 50%;
	height: 600px;
	background-size: cover;
}
.style92 {
	background-image: url("image/buttom02.png");
	width: 258px;
	height: 51px;
	position: relative;
	top: 400px;
}
.style93 {
	background-position: center 50%;
	height: 310px;
	text-align: center;
	background-size: cover;
	background-image: url("../image/casal_03c.jpg");
}
.style94 {
	background-image: url("image/buttom02.png");
	width: 131px;
	height: 28px;
	background-size: contain;
	position: relative;
	top: 250px;
	background-repeat: no-repeat;
}
.style96 {
	height: 60%;
}
.style97 {
	height: 60%;
}
.style98 {
	height: 60%;
}
.style99 {
	height: 60%;
}
.style100 {
	height: 60%;
}
.style101 {
	height: 60%;
}
.style103 {
	background-image: url("../image/fundo_tags.jpg");
	background-size: cover;
}
.style104 {
	background-image: url("../image/buttom01.png");
	width: 130px;
	height: 33px;
	background-size: cover;
	padding-bottom: 0px;
}
.style116 {
	background-size: cover;
	text-align: left;
	margin-left: 0px;
	height: 600px;
}
.style118 {
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	color: #56c3b2;
	margin-left: 14px;
	margin-right: 31px;
	padding-top: 200px;
}
.style119 {
	font-size: 16px;
	color: #bcbec0;
	margin-top: 14px;
	margin-left: 14px;
}
.style120 {
	font-size: 14px;
	color: #bcbec0;
	margin-top: 11px;
	margin-left: 14px;
	margin-right: 5px;
}
.style121 {
	text-decoration: underline;
	color: #fdcd2e;
	margin-left: 14px;
	padding-left: 0px;
}
.style122 {
	background-image: url("../image/casal_03d.jpg");
	text-align: left;
	background-size: contain;
	padding-bottom: 30px;
}
.style112 {
	margin-top: 0px;
	margin-right: 704px;
	padding-top: 72px;
	padding-right: 0px;
}
.style113 {
	margin-right: 724px;
}
.style114 {
	margin-right: 608px;
}
.style115 {padding-top: 0px;
}
.style117 {
	text-align: left;
}
.style123 {
	background-image: url("../image/casal_03.jpg");
	background-size: cover;
	margin-top: 0px;
	height: 550px;
}
.style127 {
	height: 500px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}
.style128 {
	text-align: center;
	height: 500px;
	padding-left: 0px;
	padding-right: 0px;
}
.style129 {
	text-align: center;
	height: 500px;
	padding-left: 0px;
	padding-right: 0px;
}
.style132 {
	margin-bottom: 115px;
}
.style133 {
	margin-top: 39px;
}
.style134 {
	font-size: 16px;
	font-family: PT serif;
	color: #8c8d8e;
}
.style136 {
	padding-left: 35px;
	padding-right: 20px;
}
.style137 {
	font-size: 16px;
	font-family: PT serif;
	color: #8c8d8e;
}
.style138 {
	padding-left: 35px;
	padding-right: 20px;
}
.style139 {
	font-size: 16px;
	font-family: PT serif;
	color: #8c8d8e;
}
.style56 {
	/* background-size: cover */
	height: 1900px;
	background-color: #1f1f1f;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../image/casal05.jpg")
}
.style92.style92e {
	background-size: contain;
	background-repeat: no-repeat;
}
.style56.style56b {
	background-repeat: no-repeat;
	/* text-align: center  */
	background-color: #1f1f1f;
	background-size: cover;
}
.style49.style49b {
	font-size: 36px;
	background-size: cover;
	padding-top: 191px;
	padding-left: 60px;
	padding-right: 60px;
}
.style50.style50b {
	font-size: 14px;
	padding-bottom: 35px;
	padding-left: 30px;
	padding-right: 30px;
}
.style56.b {background-size: contain;
}
.style143 {
	text-align: center;
	background-color: #000000;
}
.style144 {
	height: 1020px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../image/casal05c.jpg");
	text-align: center;
	background-position: 49%;
}
.style145 {
	display: block;
}
.style146 {
	font-size: 10px;
}
.style147 {
	color: #55c0af;
}
.style4.style4b {
	color: #55c0af;
}
.style148 {
	font-size: 14px;
	color: #55c0af;
}
.style149 {
	text-align: center;
	padding-top: 20px;
	padding-left: 22px;
}
.style150 {
	padding-top: 25px;
	padding-left: 55px;
}
.style155 {
	font-size: 12px;
	color: #55c0af;
}
.style157 {
	color: #55c0af;
	font-size: 12px;
}
.style156 {
	color: #55c0af;
	font-size: 12px;
}
.style154 {
	padding-left: 1px;
	padding-right: 16px;
}
.style152 {
	color: #55c0af;
	font-size: 12px;
	font-family: 'Retrokia Caps Regular';
}
.style158 {
	text-align: center;
	padding-top: 14px;
}
.style160 {
	text-align: center;
}
.style162 {
	background-color: #000000;
}
.style163 {
	background-color: #000;
}
.style164 {
	background-image: url("../image/fundo_profile.jpg");
	max-width: 100%;
}
.style165 {
	/* max-width: 100%	*/
	font-family: 'Retrokia Caps Regular';
	width: 70%;
	font-size: 0.80rem;
}
.style166 {
	/* background-image: url("../image/matches.jpg")	*/
	/* background-color: #e7e8e8	*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;/* background-color: #e6e8e7  */
}
.style167 {
	background-image: url("../image/fundo_profile.jpg");
}
.style169 {
	font-family: 'Retrokia Caps Regular';
	color: d4d4f;
	margin-bottom: 0px;
}
.style170 {
	width: 250px;
	background-color: rgba(0, 0, 0, 0);
	display: inline;
	color: #000;
	font-family: PT serif;
	outline-color: #000;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: #787373;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.style171 {
	padding-bottom: 0px;
}
.style172 {
	font-family: PT serif;
	width: 140px;display: inline-block;
}
.style173 {
	display: inline-block;
	width: 150px;
}
.style174 {
	display: inline-block;
	width: 140px;
}
.style175 {
	width: 190px;
	display: inline-block;
}
.style176 {
	width: 140px;
	display: inline-block;
}
.style177 {
	display: inherit;
	font-family: 'Retrokia Caps Regular';
	color: #000;
	margin-bottom: 1px;
}
.style178 {
	width: 300px;
	display: inline-block;
}
.style179 {
	width: 300px;
	display: inline-block;
}
.style180 {
	width: 330px;
	display: inline-block;
}
.style182 {
	text-align: left;
}
.style183 {
	width: 160px;
}
.style184 {
	width: 200px;
}
.style185 {margin-left: 180px;
}
.style186 {margin-left: 180px;
}
.style187 {margin-left: 180px;
}
.style188 {margin-left: 180px;
}
.style189 {margin-left: 180px;
}
.style190 {margin-left: 180px;
}
.style191 {margin-left: 180px;
}
.style192 {margin-left: 180px;
}
.style193 {margin-left: 180px;
}
.style194 {margin-left: 180px;
}
.style195 {
	margin-left: 270px;
}
.style196 {
	background-color: #66c5b5;
	height: 170px;
}
.style197 {
	width: 191px;
	height: 51px;
	background-image: url("../image/bt_form_prof.png");
	text-align: center;
	margin-bottom: -2px;
}
.style198 {
	width: 100%;
	text-align: center;
	color: #fdcd2e;
	background: #fbda6c47;
	margin-top: 4px;
	margin-bottom: 21px;
	font-family: 'Retrokia Caps Regular';
}
.style200 {
	text-align: center;
	font-family: Montserrat;
}
.style201 {
	font-weight: bold;
	text-align: center;
	color: #616161;
	margin-top: 55px;
}
.style202 {
	width: 100%;
	margin-bottom: 106px;
}
.style204 {
	padding-top: 0px;
}
.style205 {
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 0px;
	max-width: 100%;
}
.style206 {
	background-image: url("../image/concept1.jpg");
	height: 700px;
	background-color: #000;
	max-width: 1440px;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 86px;
	padding-left: 108px;
	padding-right: 153px;
}
.style207 {
	font-family: Montserrat;
	color: #55c0af;
	font-size: 18px;margin-right: 627px;
	padding-top: 48px;
}
.style208 {
	background-color: #000;
}
.style210 {
	color: #d1d3d4;
	font-family: PT Serif;
	margin-right: 655px;
	padding-top: 12px;
}
.style211 {
	background-color: #55c0af;
}
.style212 {
	padding-top: 69px;
	font-family: PT Serif;
	text-align: center;
}
.style213 {
	color: #15675a;
	text-align: center;
	font-family: PT Serif;
}
.style214 {
	background-image: url("../image/maos.jpg");
	height: 800px;
	background-size: cover;
	max-width: 1440px;
}
.style215 {
	color: #bcbec0;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 277px;
	text-align: justify;
}
.style216 {
	background-color: #000;
}
.style217 {
	margin-left: 100px;
	margin-right: 100px;
	text-align: justify;
}
.style218 {
	color: #bcbec0;
	font-family: PT Serif;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 54px;
}
.style219 {
	background-image: url("../image/mao_cel.jpg");
	height: 1000px;
	text-align: justify;
	background-size: cover;
	background-color: #000;
}
.style220 {
	padding-top: 19px;
}
.style221 {
	font-family: PT Serif;
	color: #6c757d;
	margin-left: 81px;
	padding-top: 131px;
}
.style222 {
	color: #000;
	background-color: #000;
	margin-bottom: -28px;
	padding-bottom: 0px;
}
.style223 {
	background-size: cover;
}
.style224 {
	height: 500px;
	padding-top: 26px;
}
.style225 {
	height: 500px;
	padding-top: 26px;
}
.style226 {
	height: 500px;
	padding-top: 26px;
}
.style227 {
	padding-top: 261px;
	padding-left: 191px;
	padding-right: 171px;
	text-align: center;
	color: #6d6e71;
	font-family: Montserrat;
}
.style228 {
	padding-left: 204px;
	padding-right: 204px;
	text-align: center;
	color: #55c0af;
	font-family: Montserrat;
}
.style229 {
	background-image: url("../image/contact.jpg");
	height: 700px;
	background-size: cover;
	padding-top: 142px;
	padding-right: 125px;
	max-width: 1440px;
	background-position: 30%;
}
.style230 {
	color: #55c0af;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 30px;
}
.style231 {
	color: #d1d3d4;
	font-family: 'PT Serif';
}
.style232 {
	height: 36px;
	width: 250px;
	color: #58595b;
	background-image: url("../image/contact_bt.png");
	background-size: cover;
}
.style233 {
	color: #d1d3d4;
	font-family: 'PT Serif';
	padding-top: 28px;
}
.style234 {
	color: #55c0af;
}
.style234:hover {
	color: #55c0af;
}
.style235 {
	background-color: #000;
}
.style237 {
	width: 191px;
	height: 51px;
	background-image: url("../image/bt_form_prof.png");
}
.style238 {
	width: 191px;
	height: 51px;
	background-image: url("../image/bt_form_prof2.png");
}
.style239 {
	padding-top: 30px;
	padding-bottom: 53px;
}
.style240 {
	background-color: rgba(0, 0, 0, 0);
	color: #000;
	border-width: 0px;
	border-color: rgba(0, 0, 0, 0);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-bottom: 23px;
	font-weight: bold;
	width: 100%;
	text-align: left;
}
.style241 {
	border-width: 0px;
	background-color: #55c0af;
	margin-bottom: 8px;
	font-family: 'Retrokia Caps Regular';
}
.style242 {
	margin-bottom: 46px;
	padding-top: 40px;
	max-width: 1300px;
	width: 100%;
}
.style243 {
	width: 70%;
}
.style244 {
	margin-bottom: 63px;
}
.style245 {
	padding-bottom: 15px;
}
.style246 {
	padding-bottom: 15px;
}
.style250 {
	margin-bottom: 41px;
}
.style251 {
	background-color: #55c0af;
}
.style252 {
	width: 1000px;
}
.style253 {
	width: 1000px;
}
.style254 {
	width: 1000px;
}
.style255 {
	width: 1000px;
}
.style256 {
	width: 1000px;
}
.style257 {
	width: 1000px;
}
.style258 {
	width: 1000px;
}
.style259 {
	width: 1000px;
}
.style260 {
	width: 1000px;
}
.style261 {
	width: 1000px;
}
.style262 {
	width: 1000px;
}
.style263 {
	width: 1000px;
}
.style264 {
	width: 1000px;
}
.style265 {
	width: 1000px;
}
.style266 {
	width: 1000px;
}
.style267 {
	width: 1000px;
}
.style268 {
	width: 1000px;
}
.style269 {
	width: 1000px;
}
.style270 {
	width: 1000px;
}
.style271 {
	width: 1000px;
}
.style272 {
	width: 1000px;
}
.style273 {
	width: 1000px;
}
.style274 {
	width: 1000px;
}
.style275 {
	width: 1000px;
}
.style276 {
	width: 1000px;
}
.style277 {
	width: 1000px;
}
.style278 {
	width: 1000px;
}
.style279 {
	width: 1000px;
}
.style280 {
	width: 1000px;
}
.style281 {
	width: 1000px;
}
.style282 {
	width: 1000px;
}
.style283 {
	width: 1000px;
}
.style284 {
	width: 1000px;
}
.style285 {
	width: 1000px;
}
.style286 {
	width: 1000px;
}
.style287 {
	background-color: #55c0af;
	color: white;
	font-family: 'Retrokia Caps Regular';
	font-size: 0.80rem;
}
.style287::placeholder {
	color: white;
}

.style288 {
	background-color: #55c0af;
	height: 900px;
}
.style289 {
	background-size: cover;
	padding-top: 279px;
	color: #fff;
}
.style290 {
	height: 100%;
}
.style291 {
	height: 100%;
	width: 100%;
}
.style292 {
	background-color: #55c0af;
}
.style293 {
	text-align: center;
	padding-top: 213px;
}
.style294 {
	padding-top: 35px;
	
}
.warning{
	width: 100%;
	text-align: center;
	color: #fdcd2e;
	background: #fbda6c47;
	margin-top: 4px;
	margin-bottom: 21px;
	font-family: 'Retrokia Caps Regular';
}
.style295 {background-color: #000;padding-top: 234px
}
.style296 {background-color: #000;height: 1500px;width: 100%
}
.style298 {width: 80%
}
.style299 {padding-top: 29px;width: 1080px
}
.style300 {height: 100%
}
.style301 {width: 199px;height: 51px;background-image: url("../image/buttom01.png");text-align: center;font-weight: bold;text-indent: -20px;line-height: 2
}
.style302 {background-image: url("image/buttom05.png")
}
.style303 {width: 104px;height: 37px;background-attachment: scroll;background-image: url("../image/back.png");background-size: cover;background-repeat: no-repeat
}
.style304 {padding-top: 183px
}
.style306 {color: #55c0af;font-weight: bold;margin-bottom: 0px;padding-bottom: 0px; font-family: 'Retrokia Caps Regular';
}
.style307 {color: #6c757d
}
.style308 {color: #6c757d;margin-bottom: 38px;padding-top: 0px; font-family: 'Retrokia Caps Regular';
}
.style309 {
	font-family: 'Retrokia Caps Regular';color: #6c757d;background-color: #f8f9fa;width: 100%;height: 40px;border-width: 2px;border-color: rgba(108, 117, 125, 0.59);border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;margin-bottom: 109px
}
.style309b {font-family: 'Retrokia Caps Regular';color: #6c757d;background-color: #f8f9fa;width: 120px;height: 40px;border-width: 2px;border-color: rgba(108, 117, 125, 0.59);border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;margin-bottom: 109px
}
.style310 {margin-bottom: 10px
}
.style311 {margin-bottom: 10px
}
.style313 {margin-bottom: 10px
}
.style314 {margin-bottom: 10px
}
.style315 {margin-bottom: 10px
}
.style316 {margin-bottom: 10px
}
.style317 {margin-bottom: 10px
}
.style318 {margin-bottom: 10px
}
.style319 {margin-bottom: 10px
}
.style320 {margin-bottom: 10px
}
.style321 {margin-bottom: 10px
}
.style322 {margin-bottom: 10px
}
.style323 {margin-bottom: 10px
}
.style324 {margin-bottom: 10px
}
.style325 {margin-bottom: 10px
}
.style326 {margin-bottom: 10px
}
.style327 {margin-bottom: 10px
}
.style328 {margin-bottom: 10px
}
.style329 {margin-bottom: 10px
}
.style330 {margin-bottom: 10px
}
.style331 {margin-bottom: 10px
}
.style332 {margin-bottom: 10px
}
.style333 {margin-bottom: 10px;width: 100%
}
.style334 {margin-bottom: 31px
}
.style337 {/* background-image: url("../image/concept1.jpg")  */background-repeat: no-repeat;background-position: 80%;/* background-color: #000  */height: 100%;background-size: cover
}
.style338 {font-size: 14px;padding-top: 427px;padding-left: 10px;padding-right: 10px
}
.style338b {/* font-size: 16px	*/padding-top: 28px;padding-left: 10px
}
.style339 {height: 900px;background-color: #000
}
.style340 {padding-bottom: 10px;padding-left: 10px;padding-right: 10px
}
.style339b {background-color: #000;background-image: url("../image/concept1.jpg");background-position: 80%;background-repeat: no-repeat;background-color: #000;background-size: cover
}
.style341 {background-color: #000
}
.style342 {/* background-color: #000  */background-size: cover;background-position: center 20%;height: 500px
}
.style343 {height: 500px
}
.style345 {background-color: #55c0af;height: 500px
}
.style346 {height: 450px;background-color: #000
}
.style347 {height: 200px;padding-top: 10px
}
.style348 {height: 200px;padding-top: 10px
}
.style349 {padding-top: 15px;padding-right: 16px
}
.style352 {padding-top: 10px;padding-bottom: 1px
}
.style356 {background-image: url("../image/maos.jpg");background-repeat: no-repeat;background-size: cover;background-position: 50%
}
.style357 {text-align: center;background-color: #000
}
.style359 {/* color: #fff  */padding-top: 40px
}
.style358 {padding-top: 208px;padding-bottom: 50px
}
.style362 {background-image: url("../image/maos.jpg");background-size: cover;background-position: 50%
}
.style364 {background-position: 50%;background-size: cover;height: 700px
}
.style363 {background-image: url("../image/maos.jpg");background-position: 50%;background-size: cover; top:0px;
}
.style366 {background-repeat: no-repeat;background-position: 70%;background-image: url("../image/mao_cel2.jpg");background-size: cover;height: 850px
}
.style367 {padding-top: 149px;padding-left: 97px;padding-right: 97px
}
.style368 {padding-top: 42px
}
.style369 {font-weight: bold;margin-left: 87px;margin-right: 87px
}
.style-cel2 {padding-top: 180px;padding-left: 100px;padding-right: 95px
}
.style383 {padding-left: 44px;padding-right: 6px
}
.style385 {padding-top: 242px;padding-left: 140px;padding-right: 158px
}
.style386 {margin-left: 69px;margin-right: 87px
}
.style389 {padding-top: 235px;padding-left: 150px;padding-right: 155px
}
.style391 {padding-top: 232px;padding-left: 137px;padding-right: 28px
}
.style388 {padding-left: 116px
}
.style-ipad {background-image: url("../image/mao_cel5.jpg")
}
.style397 {padding-bottom: 98px
}
.style398 {background-color: rgba(0, 0, 0, 0);border-width: 0px 0px 1px;border-color: #6c757d;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;width: 225px
}
.Style398 {border-width: 0px 0px 1px;border-bottom-color: #6c757d;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;background-color: rgba(0, 0, 0, 0);width: 225px
}
.style400 {color: #fff;font-family: PT Serif
}
.style401 {padding-top: 194px
}
.style402 {margin-top: 14px;padding-top: 0px
}
.style403 {background-size: cover
}
.style404 {width: 100%;margin-top: 0px;margin-bottom: 0px;padding-top: 0px
}
.style405 {background-color: #55c0af
}
.style406 {padding-top: 56px;padding-bottom: 56px
}
.style407 {max-width: 60%
}
.style408 {background-color: #55c0af
}
.style409 {background-color: #55c0af
}
.style412 {background-image: url("../image/bt_144.png");font-weight: bold
}
.style414 {background-image: url("../image/bt_210.png");background-size: cover;width: 210px;height: 47px
}
.style415 {background-image: url("../image/buttom01.png");width: 199px;height: 51px;background-size: cover;background-repeat: no-repeat
}
.style416 {padding-top: 32px
}
.style417 {padding-top: 12px;padding-left: 7px;padding-right: 7px
}
.style418 {text-align: center;padding-top: 10px
}
.style419 {margin-bottom: 12px
}
.style421 {background-image: url("../image/back.png");width: 104px;height: 37px;background-repeat: no-repeat;background-size: cover
}
.style422 {background-image: url("../image/Logo01.png");width: 180px;background-repeat: no-repeat;background-size: cover;height: 35px
}
.style423 {padding-top: 8px;padding-bottom: 8px
}
.style426 {background-color: rgba(0, 0, 0, 0)
}
.style427 {background-image: url("../image/press.jpg");height: 100vh;background-size: cover;background-position: center 20%;background-color: #000
}
.style428 {text-align: center;font-weight: bold
}
.style429 {text-align: justify;padding-top: 90px
}
.style430 {background-image: url("../image/linha.png");background-size: cover
}
.style431 {background-image: url("../image/print.png");background-size: cover;width: 179px;height: 40px
}
.style432 {background-image: url("../image/eletronic.png");background-size: cover;width: 240px;height: 40px
}
.style433 {text-align: center
}
.style434 {padding-top: 25px;padding-left: 25px;padding-right: 25px
}
.style438 {background-image: url("../image/press.jpg");background-size: cover;background-position: center 20%;
}
.style439 {background-image: url("../image/eletronic.png");width: 240px;height: 40px;background-size: cover
}
.style440 {background-image: url("../image/print.png");width: 179px;height: 40px;background-size: cover
}
.style441 {background-color: #000
}
.style442 {background-color: #000
}
.style443 {background-color: #000
}
.style444 {background-color: #000
}
.style445 {margin-bottom: 30px
}
.style451 {margin-right: 20px
}
.style452 {width: 100px
}
.style453 {width: 100px
}
.style454 {margin-bottom: -1px
}
.style455 {width: 300px;margin-bottom: 10px
}
.style458 {padding-right: 30px
}
.style459 {padding-bottom: 1px
}
.style460 {width: 100%
}
.style461 {padding-bottom: 1px;
}
