<!doctype html>
{% load static %}
<html>

    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>BAGGAGE SECTION</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap/4/css/bootstrap.min.css' %}" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js' %}" defer=""></script>
        <script src="{% static 'dmxAppConnect/dmxBackgroundVideo/dmxBackgroundVideo.js' %}" defer=""></script>
    </head>

    <body is="dmx-app" id="free_profile">

        {% include "header.html" %}
        <section class="style167 w-auto">
            <div class="container style166 text-center h-auto w-auto">
                <img src="{% static 'image/lifestyle.png' %}" class="style242 mt-0">
            </div>
            <div class="container">
                <p style="font-family: Montserrat;">Some truths to remember before you begin:
                <p wappler-command="editContent"><span style="font-family: Montserrat; font-size: 1rem;">Being honest and authentic with ourselves will attract an honest and authentic connection. There are no wrong answers.&nbsp;</span><br></p>
                <p wappler-command="editContent" style="font-family: Montserrat;">Most baggage, if paired with the right match, is actually not so heavy. What once made your ex run, may very well make the right person stay.&nbsp;</p>
                <p wappler-command="editContent" style="font-family: Montserrat;">You’re never too flawed for someone to love. There is someone for everyone.</p>

                <p wappler-command="editContent" style="font-family: Montserrat;" class="style294 mb-5">Complete Baggage Claims in order to get matches that are compatible with you. The more Claims you complete, the deeper of a connection you’ll
                find.&nbsp;
                </p>
                <div class="row">
                    <div class="col">

                        <h1 style="font-family: Montserrat; font-size: 28px;" class="style334">
                            Baggage Claim 1: Lifestyle</h1>
                    </div>
                    <div class="col-12 style204">

                        <div class="form-group style454">



                            <legend class="col-form-label style459" style="font-family: PT Serif;">My kids control my life. Good luck.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input1y" name="input1y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input1n" name="input1n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I can’t go near children. I don’t ever want them - sorry for bursting your ideal family bubble.&nbsp; &nbsp; &nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input2y" name="input2y">
                                <label class="form-check-label style458" for="input2n" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input2n" name="input2n">
                                <label class="form-check-label" for="input3" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I love kids, but don’t want any of my own. I could play step parent if need be.&nbsp; &nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input3y" name="input3y">
                                <label class="form-check-label style458" for="input3y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input3n" name="input3n">
                                <label class="form-check-label" for="input3y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">&nbsp;I give my pet more attention than my partner.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input4y" name="input4y">
                                <label class="form-check-label style458" for="input4y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input4n" name="input4n">
                                <label class="form-check-label" for="input4y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">&nbsp;I believe in ethical non-monogamy.&nbsp;&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input5y" name="input5y">
                                <label class="form-check-label style458" for="input5y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input5n" name="input5n">
                                <label class="form-check-label" for="input5y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I don’t believe in or want marriage and will never change my mind. No matter how much we love each other, no means no.&nbsp; &nbsp; &nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input6y" name="input6y">
                                <label class="form-check-label style458" for="input6y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input6n" name="input6n">
                                <label class="form-check-label" for="input6y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">&nbsp;I’m a clean freak, classic Type A. I will truly be irritated if the house is not kept clean/organized.&nbsp;&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input7y" name="input7y">
                                <label class="form-check-label style458" for="input7y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input7n" name="input7n">
                                <label class="form-check-label" for="input7y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I’m extremely messy and I can’t change it, so don’t bother trying to train me.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input8y" name="input8y">
                                <label class="form-check-label style458" for="input8y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input8n" name="input8n">
                                <label class="form-check-label" for="input8y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I’m not financially motivated because as long as my basic needs are met, I am content.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input9y" name="input9y">
                                <label class="form-check-label style458" for="input9y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input9n" name="input9n">
                                <label class="form-check-label" for="input9y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">My partner will often feel that he/she has to compete with my friends for my attention and time.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input10y" name="input10y">
                                <label class="form-check-label style458" for="input10y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input10n" name="input10n">
                                <label class="form-check-label" for="input10y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I enjoy doing non-legalized drugs recreationally.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input11y" name="input11y">
                                <label class="form-check-label style458" for="input11y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input11n" name="input11n">
                                <label class="form-check-label" for="input11y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I enjoy doing non-legalized drugs often and it’s a big part of my life.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input12y" name="input12y">
                                <label class="form-check-label style458" for="input12y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input12n" name="input12n">
                                <label class="form-check-label" for="input12y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I am a cigarette smoker. The smell isn’t that bad, I promise!&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input13y" name="input13y">
                                <label class="form-check-label style458" for="input13y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input13n" name="input13n">
                                <label class="form-check-label" for="input13y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I’m a messy eater and sometimes will lick the food off of my fingers.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input14y" name="input14y">
                                <label class="form-check-label style458" for="input14y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input14n" name="input14n">
                                <label class="form-check-label" for="input14y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I don’t put a lot of effort into my clothing. Comfort is key, and the rest is superficial stuff.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input15y" name="input15y">
                                <label class="form-check-label style458" for="input15y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input15n" name="input15n">
                                <label class="form-check-label" for="input15y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">When it comes to personal hygiene, I enjoy getting away with the minimum.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input16y" name="input16y">
                                <label class="form-check-label style458" for="input16y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input16n" name="input16n">
                                <label class="form-check-label" for="input16y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I often prioritize video games, social media or tv in my free time.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input17y" name="input17y">
                                <label class="form-check-label style458" for="input17y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input17n" name="input17n">
                                <label class="form-check-label" for="input17y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I have a medical condition that I’m careful not to transmit to my sexual partners.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input18y" name="input18y">
                                <label class="form-check-label style458" for="input18y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input18n" name="input18n">
                                <label class="form-check-label" for="input18y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I prioritize the opinion of my family. What they think about my relationship really impacts me.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input19y" name="input19y">
                                <label class="form-check-label style458" for="input19y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input19n" name="input19n">
                                <label class="form-check-label" for="input19y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">You could say I’m a mama’s boy/daddy’s girl.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input20y" name="input20y">
                                <label class="form-check-label style458" for="input20y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input20n" name="input20n">
                                <label class="form-check-label" for="input20y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">My sex equipment down there is not known to be the biggest which has caused some sexual dissatisfaction in the past but I can compensate with technique.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input21y" name="input21y">
                                <label class="form-check-label style458" for="input21y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input21n" name="input21n">
                                <label class="form-check-label" for="input21y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I can’t date someone who is:</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input22y" name="input22y">
                                <label class="form-check-label style458" for="input22y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input22n" name="input22n">
                                <label class="form-check-label" for="input22y" style="font-family: PT Serif;">NO</label>
                            </div><input class="custom-control-input" type="checkbox" value="" id="checkbox2" name="checkbox2">
                        </div>





                        <div class="dropdown style460" dmx-hide="">
                            <button id="dropdown2" class="btn dropdown-toggle style240 btn-outline-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: PT serif;">If someone selects yes&nbsp;</button>
                            <div class="dropdown-menu" aria-labelledby="dropdown1" style="font-family: PT Serif;">
                                <a class="dropdown-item" href="#" id="22A">Vegan</a>
                                <a class="dropdown-item" href="#" id="22B">Pescatarian</a>
                                <a class="dropdown-item" href="#" id="22C">Vegetarian</a>
                                <a class="dropdown-item" href="#" id="22D">Non-kosher</a>
                                <a class="dropdown-item" href="#" id="22E">Kosher</a>
                                <a class="dropdown-item" href="#" id="22F">Halal</a>
                                <a class="dropdown-item" href="#" id="22G">On a strict diet (Paleo, Keto, Atkins, ect.) </a>
                                <a class="dropdown-item" href="#" id="22H">A meat eater</a>
                            </div>
                        </div>
                        <div class="dropdown" dmx-hide="">
                            <button id="dropdown1" class="btn dropdown-toggle style240 btn-outline-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: PT serif;">I am&nbsp;</button>
                            <div class="dropdown-menu" aria-labelledby="dropdown1" style="font-family: PT Serif;">
                                <a class="dropdown-item" href="#" id="23A">Vegan</a>
                                <a class="dropdown-item" href="#" id="23B">Pescatarian</a>
                                <a class="dropdown-item" href="#" id="23C">Vegetarian</a>
                                <a class="dropdown-item" href="#" id="23D">Non-kosher</a>
                                <a class="dropdown-item" href="#" id="23E">Kosher</a>
                                <a class="dropdown-item" href="#" id="23F">Halal</a>
                                <a class="dropdown-item" href="#" id="23G">On a strict diet (Paleo, Keto, Atkins, ect.) </a>
                                <a class="dropdown-item" href="#" id="23H">A meat eater</a>
                            </div>
                        </div>
                        <div class="form-group style454">



                            <legend class="col-form-label style459" style="font-family: PT Serif;">When it comes to money, I’m frugal. Spending gives me anxiety.&nbsp;&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input24y" name="input24y">
                                <label class="form-check-label style458" for="input28y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input24n" name="input24n">
                                <label class="form-check-label" for="input28y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">When it comes to money, I’m too “spendy” and don’t have limits.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input25y" name="input25y">
                                <label class="form-check-label style458" for="input28y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input25n" name="input25n">
                                <label class="form-check-label" for="input28y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">When it comes to pets, I’m picky.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input26y" name="input26y">
                                <label class="form-check-label style458" for="input28y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input26n" name="input26n">
                                <label class="form-check-label" for="input28y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style459" style="font-family: PT Serif;">I typically eliminate romantic partners if their social or political views don’t align with mine.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input27y" name="input27y">
                                <label class="form-check-label style458" for="input28y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input27n" name="input27n">
                                <label class="form-check-label" for="input28y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <input class="custom-control-input" type="checkbox" value="" id="checkbox1" name="checkbox1">
                        </div>
                        <div class="dropdown" dmx-hide="">
                            <button id="dropdown3" class="btn dropdown-toggle style240 btn-outline-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: PT serif;">If someone selects yes&nbsp;</button>
                            <div class="dropdown-menu" aria-labelledby="dropdown1" style="font-family: PT Serif;">
                                <a class="dropdown-item" href="#">Conservative</a>
                                <a class="dropdown-item" href="#">Liberal</a>
                                <a class="dropdown-item" href="#">Moderate</a>

                            </div>
                        </div>
                        <div class="form-group style454">



                            <legend class="col-form-label style459" style="font-family: PT Serif;">My religious views get in the way of a relationship unless my partner shares the same views or decides to convert (check all that are acceptable).</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input28y" name="input28y">
                                <label class="form-check-label style458" for="input28y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input28n" name="input28n">
                                <label class="form-check-label" for="input28y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <input class="custom-control-input" type="checkbox" value="" id="checkbox3" name="checkbox3">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio13" name="radio13">
                                <label class="custom-control-label" for="radio13" style="font-family: PT serif;">Catholic</label>
                            </div>
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio13b" name="radio13b">
                                <label class="custom-control-label" for="radio13b" style="font-family: PT serif;">Christian</label>
                            </div>
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio15" name="radio15">
                                <label class="custom-control-label" for="radio15" style="font-family: PT serif;">Orthodox Jewish</label>
                            </div>
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio17" name="radio17">
                                <label class="custom-control-label" for="radio17" style="font-family: PT serif;">Non-orthodox Jewish</label>
                            </div>
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio18" name="radio18">
                                <label class="custom-control-label" for="radio18" style="font-family: PT serif;">Buddhist</label>
                            </div>
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio19" name="radio19">
                                <label class="custom-control-label" for="radio19" style="font-family: PT serif;">Mormon</label>
                            </div>
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio20" name="radio20">
                                <label class="custom-control-label" for="radio20" style="font-family: PT serif;">Hindu</label>
                            </div>
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio21" name="radio21">
                                <label class="custom-control-label" for="radio21" style="font-family: PT serif;">Sikh</label>
                            </div>
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio34" name="radio34">
                                <label class="custom-control-label" for="radio34" style="font-family: PT serif;">Atheist</label>
                            </div>
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio38" name="radio38">
                                <label class="custom-control-label" for="radio38" style="font-family: PT serif;">Agnostic</label>
                            </div>
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio48" name="radio48">
                                <label class="custom-control-label" for="radio48" style="font-family: PT serif;">Muslim</label>
                            </div>
                            <div class="custom-control custom-radio style173">
                                <input class="custom-control-input" type="radio" value="" id="radio49" name="radio49">
                                <label class="custom-control-label" for="radio49" style="font-family: PT serif;">Other</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-center style239">
                    <a href="{% url 'alg1' %}" class="btn style241 active" style="font-family: Montserrat;">Baggage Claim 1</a>
                    <a href="{% url 'alg2' %}" class="btn style241 active" style="font-family: Montserrat;">Baggage Claim 2</a>
                    <a href="#" class="btn style241 disabled" style="font-family: Montserrat;">Baggage Claim 3</a>
                    <a href="#" class="btn style241 disabled" style="font-family: Montserrat;">Baggage Claim 4</a>
                </div>
            </div>
                </p>
                </div>
        </section>

        {% include "footer.html" %}
        <script src="{% static 'bootstrap/4/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/4/js/bootstrap.min.js' %}"></script>
    </body>

</html>
