<!doctype html>
{% load static %}
<html>

    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>BAGGAGE SECTION</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap/4/css/bootstrap.min.css' %}" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js' %}" defer=""></script>
        <script src="{% static 'dmxAppConnect/dmxBackgroundVideo/dmxBackgroundVideo.js' %}" defer=""></script>
    </head>

    <body is="dmx-app" id="free_profile">

        {% include "header.html" %}
        <section class="style167">
            <div class="container style166 text-center">
                <img src="{% static 'image/Behavior.png' %}" class="style242">
            </div>
            <div class="container">
                <p wappler-command="editContent" style="font-family: Montserrat;" class="mb-2 pt-3 pb-3">Complete Baggage Claims in order to get matches that are compatible with you. The more Claims you complete, the deeper of a connection you’ll
                find.&nbsp;</p>
                <div class="row">
                    <div class="col">

                        <h1 style="font-family: Montserrat; font-size: 28px;" class="mt-3 mb-3">Baggage Claim 2: Behavior</h1>
                    </div>
                    <div class="col-12 style204">
                        <div class="form-group">

                            <label for="input2" class="style177">• In relationships (check all that apply):</label>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I’m a workaholic; sometimes I love and prioritize work more than I prioritize my partner.&nbsp; &nbsp; &nbsp;&nbsp;</legend>

                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input29y" name="input29y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input29n" name="input29n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>

                            <legend class="col-form-label style461" style="font-family: PT Serif;">I have a wandering eye; if someone catches my eye, I stare longer than I should.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input30y" name="input30y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input30n" name="input30n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">Most would consider me super flirty, whether or not I’m in a relationship.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input31y" name="input31y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input31n" name="input31n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I want sex more than 3-4 times a week. Better keep up!</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input32y" name="input32y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input32n" name="input32n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I tend to nag a lot. I always find something to complain about.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input33y" name="input33y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input33n" name="input33n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">&nbsp;I’m clingy and need contact constantly.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input34y" name="input34y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input34n" name="input34n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I’m not that sexual so I don’t need sex often, but that doesn’t mean you can’t romance the pants off of me.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input35y" name="input35y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input35n" name="input35n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">It’s hard for me to resist sexual temptation. I may slip up even if I’m in a relationship.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input36y" name="input36y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input36n" name="input36n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">&nbsp;I am close friends with my ex.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input37y" name="input37y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input37n" name="input37n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I’m not very romantic when I’m in love and don’t feel the need to express love often. I typically only do something romantic on special occasions or if I’ve messed up.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input38y" name="input38y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input38n" name="input38n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">&nbsp;I don’t like to text a lot unless it’s important. The most you’ll get out of me are a few one-word texts if you’re lucky. I’m the “K” with a period.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input39y" name="input39y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input39n" name="input39n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">Communication is not my strong suit; I don’t express my thoughts and feelings much.</legend>



                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input40y" name="input40y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input40n" name="input40n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">&nbsp;I avoid deep conversations and prefer to keep it light with small talk.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input41y" name="input41y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input41n" name="input41n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I tend to scream and yell when I’m upset. When I’m angry, I certainly express it loudly. If high volume overwhelms you, I’m not your match.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input42y" name="input42y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input42n" name="input42n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I dislike loud and “passionate” arguers. If that’s your culture I understand, but count me out. I live by the motto keep calm at all costs; otherwise I just shut down.</legend>

                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input42by" name="input42by">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input42bn" name="input42bn">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>

                            <legend class="col-form-label style461" style="font-family: PT Serif;">Let’s “go Dutch” and split the bills. When it comes to gender norms, I’m non-traditional.&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input43y" name="input43y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input43n" name="input43n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I almost always prefer relaxation over activity. Some call it lazy, I call it chill.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input44y" name="input44y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input44n" name="input44n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I’m super high energy, and it’s not easy finding a partner who can keep up.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input44by" name="input44by">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input44bn" name="input44bn">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">Because I’m eager to please, I make promises to my partner easily but rarely follow through. My intentions are good, though!&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input45y" name="input45y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input45n" name="input45n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I don’t like to commit. Some would call me a “commitment phobe.”&nbsp;</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input46y" name="input46y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input46n" name="input46n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">Because labeling a relationship is extremely important to me, I tend to pressure my partner to tell me where we stand. I just can’t deal with ambiguity.</legend>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input46by" name="input46by">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input46bn" name="input46bn">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I’m the biggest flake you’ll ever meet.</legend>

                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input47y" name="input47y">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input47n" name="input47n">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <legend class="col-form-label style461" style="font-family: PT Serif;">I’m a stickler about plans and get very frustrated when others don’t follow through.</legend>


                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input47by" name="input47by">
                                <label class="form-check-label style458" for="input1" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input47bn" name="input47bn">
                                <label class="form-check-label" for="input1" style="font-family: PT Serif;">NO</label>
                            </div>
                            <div class="row">

                                <div class="col text-center style239">
                                    <a href="{% url 'alg1' %}" class="btn style241 active" style="font-family: Montserrat;">Baggage Claim 1</a>
                                    <a href="{% url 'alg2' %}" class="btn style241 active" style="font-family: Montserrat;">Baggage Claim 2</a>
                                    <a href="{% url 'alg3' %}" class="btn style241 active" style="font-family: Montserrat;">Baggage Claim 3</a>
                                    <a href="#" class="btn style241 disabled" style="font-family: Montserrat;">Baggage Claim 4</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    </form>
                </div>
            </div>
            </div>
        </section>

        {% include "footer.html" %}
        <script src="{% static 'bootstrap/4/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/4/js/bootstrap.min.js' %}"></script>
    </body>

</html>
