<!doctype html>
{% load static %}
<html>

    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>BAGGAGE SECTION</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap/4/css/bootstrap.min.css' %}" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js' %}" defer=""></script>
        <script src="{% static 'dmxAppConnect/dmxBackgroundVideo/dmxBackgroundVideo.js' %}" defer=""></script>
    </head>

    <body is="dmx-app" id="free_profile">

        {% include "header.html" %}
        <section class="style167">
            <div class="container style166 text-center">
                <img src="{% static 'image/Skeletons.png' %}" class="style242">
            </div>
            <div class="container">

                <p wappler-command="editContent" style="font-family: Montserrat;" class="mb-5">Complete Baggage Claims in order to get matches that are compatible with you. The more Claims you complete, the deeper of a connection you’ll find.&nbsp;</p>
                <div class="row">
                    <div class="col">

                        <h1 style="font-family: Montserrat; font-size: 28px;">Baggage Claim 3: Skeletons &amp; Inner Demons</h1>
                    </div>
                    <div class="col-12 style204">
                        <div class="form-group">
                            <label for="input2" class="style177">• In relationships (check all that apply):</label>
                            <label for="input2" class="style177">I have had an abusive partner in the past.</label>



                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input48y" name="input48y">
                                <label class="form-check-label style458" for="input48y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input48n" name="input48n">
                                <label class="form-check-label" for="input48y" style="font-family: PT Serif;">NO</label>
                            </div>


                            <label for="input2" class="style177">In the past I have lied to my partner about using condoms, birth control, or contraceptives.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input49y" name="input49y">
                                <label class="form-check-label style458" for="input49y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input49n" name="input49n">
                                <label class="form-check-label" for="input49y" style="font-family: PT Serif;">NO</label>
                            </div><label for="input2" class="style177">In the past I have inflicted what some would consider to be physical abuse.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input50y" name="input50y">
                                <label class="form-check-label style458" for="input50y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input50n" name="input50n">
                                <label class="form-check-label" for="input50y" style="font-family: PT Serif;">NO</label>
                            </div><label for="input2" class="style177">&nbsp;I have cheated in my past relationship(s).&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input51y" name="input51y">
                                <label class="form-check-label style458" for="input51y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input51n" name="input51n">
                                <label class="form-check-label" for="input51y" style="font-family: PT Serif;">NO</label>
                            </div><label for="input2" class="style177">I have struggled with drug addiction.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input52y" name="input52y">
                                <label class="form-check-label style458" for="input52y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input52n" name="input52n">
                                <label class="form-check-label" for="input52y" style="font-family: PT Serif;">NO</label>
                            </div><label for="input2" class="style177">I have struggled with alcohol addiction.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input53y" name="input53y">
                                <label class="form-check-label style458" for="input53y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input53n" name="input53n">
                                <label class="form-check-label" for="input53y" style="font-family: PT Serif;">NO</label>
                            </div>



                            <label for="input2" class="style177">I have a pattern of ghosting romantic partners.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input54y" name="input54y">
                                <label class="form-check-label style458" for="input54y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input54n" name="input54n">
                                <label class="form-check-label" for="input54y" style="font-family: PT Serif;">NO</label>
                            </div><label for="input2" class="style177">I have a habit of lying - even about the smallest things – because it just seems easier than telling the truth.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input55y" name="input55y">
                                <label class="form-check-label style458" for="input55y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input55n" name="input55n">
                                <label class="form-check-label" for="input55y" style="font-family: PT Serif;">NO</label>
                            </div><label for="input2" class="style177">I have a habit of purposely making my partners jealous.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input56y" name="input56y">
                                <label class="form-check-label style458" for="input56y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input56n" name="input56n">
                                <label class="form-check-label" for="input56y" style="font-family: PT Serif;">NO</label>
                            </div><label for="input2" class="style177">I’ve had big struggles with negative thinking about my body image.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input57y" name="input57y">
                                <label class="form-check-label style458" for="input57y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input57n" name="input57n">
                                <label class="form-check-label" for="input57y" style="font-family: PT Serif;">NO</label>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col text-center style239">
                                <a href="{% url 'alg1' %}" class="btn style241 active" style="font-family: Montserrat;">Baggage Claim 1</a>
                                <a href="{% url 'alg2' %}" class="btn style241 active" style="font-family: Montserrat;">Baggage Claim 2</a>
                                <a href="{% url 'alg3' %}" class="btn style241 active" style="font-family: Montserrat;">Baggage Claim 3</a>
                                <a href="{% url 'alg4' %}" class="btn style241 active" style="font-family: Montserrat;">Baggage Claim 4</a>
                            </div>
                        </div>



                    </div>
                </div>
                </form>
            </div>
        </section>

        {% include "footer.html" %}
        <script src="{% static 'bootstrap/4/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/4/js/bootstrap.min.js' %}"></script>
    </body>

</html>
