<!doctype html>
{% load static %}
<html>

    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>BAGGAGE SECTION</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap/4/css/bootstrap.min.css' %}" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js' %}" defer=""></script>
        <script src="{% static 'dmxAppConnect/dmxBackgroundVideo/dmxBackgroundVideo.js' %}" defer=""></script>
    </head>

    <body is="dmx-app" id="free_profile">

        {% include "header.html" %}
        <section class="style167">

            <div class="container style166 text-center">
                <img src="{% static 'image/Emotional.png' %}" class="mb-5 style242">
            </div>
            <div class="container">
                <p wappler-command="editContent" style="font-family: Montserrat;" class="mb-5">Complete Baggage Claims in order to get matches that are compatible with you. The more Claims you complete, the deeper of a connection you’ll find.&nbsp;</p>
                <div class="row">
                    <div class="col">

                        <h1 style="font-family: Montserrat; font-size: 28px;">Baggage Claim 4: Emotional&nbsp;</h1>
                    </div>
                    <div class="col-12 style204">

                        <div class="form-group">
                            <label for="input2" class="style177 mb-3">• In relationships (check all that apply):</label>
                            <label for="input2" class="style177">I fear abandonment and I worry that my partner will leave me.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input58y" name="input58y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input58n" name="input58n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">Divorced and bitter about it, but that doesn’t mean I still want my ex.***</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input59y" name="input59y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input59n" name="input59n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">Part of me is still in love with an ex or “the one who got away”, but finding the right person could help me move on.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input60y" name="input60y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input60n" name="input60n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">Dealing with too much emotion and affection shuts me down. The intensity is overwhelming.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input61y" name="input61y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input61n" name="input61n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">&nbsp;I don’t like talking about emotions or being super affectionate. That’s over the top!</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input62y" name="input62y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input62n" name="input62n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I need a lot of space because I get smothered easily and must recharge.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input63y" name="input63y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input63n" name="input63n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">&nbsp;I easily get jealous and possessive.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input64y" name="input64y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input64n" name="input64n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I feel the need to create drama in my relationships.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input65y" name="input65y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input65n" name="input65n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I hold grudges against my partner, even if I may not show it.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input66y" name="input66y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input66n" name="input66n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I can be revengeful if I feel that my partner has wronged me.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input67y" name="input67y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input67n" name="input67n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">&nbsp;I believe my partner should be totally transparent with me about where they are and what’s in their phone. If they have nothing to hide, it shouldn’t be a problem!&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input68y" name="input68y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input68n" name="input68n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I often keep big secrets from my partner.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input69y" name="input69y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input69n" name="input69n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">&nbsp;I’m not okay with my partner having attractive friends of the same gender as me.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input70y" name="input70y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input70n" name="input70n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">&nbsp;I feel insecure about myself and need constant reassurance from my partner that I am attractive.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input71y" name="input71y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input71n" name="input71n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">&nbsp;It takes me a long time to trust and feel safe with a romantic partner. One could say I have very high walls up.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input72y" name="input72y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input72n" name="input72n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I’m pretty suspicious with my romantic partners. They need to jump through hoops in order to gain my trust. You’re a liar until proven otherwise.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input73y" name="input73y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input73n" name="input73n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I almost always break up or threaten to break up with my partner in the heat of the moment when I’m upset.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input74y" name="input74y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input74n" name="input74n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">Even with the little things, I find it very difficult to compromise when I feel that my way is better. It’s mostly either my way or the highway.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input75y" name="input75y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input75n" name="input75n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I tend to put my partner’s needs before my own, even if it causes me to suffer.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input76y" name="input76y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input76n" name="input76n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I rarely check in with my partner to ask whether he/she is happy, needs anything from me or wishes anything were different about our relationship.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input77y" name="input77y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input77n" name="input77n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I hold my potential partner to unrealistic standards. I tend to focus on shortcomings and ways that the person should improve.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input78ay" name="input78ay">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input78an" name="input78an">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">&nbsp;I find any type of criticism hurtful and would expect my partner never to criticize anything about me.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input78by" name="input78by">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input78bn" name="input78bn">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I often find myself feeling that romantic partners are not good enough for me or that I can do better.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input79ay" name="input79ay">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input79an" name="input79an">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">&nbsp;I often jump into relationships based on a strong physical connection and then get to know the other person better.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input79by" name="input79by">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input79bn" name="input79bn">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">When it comes to my personal development, I’m completely content with the way I am and I don’t plan to change anything about myself.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input80y" name="input80y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input80n" name="input80n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I tend to take my stress and frustrations out on my partner.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input81ay" name="input81ay">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input81an" name="input81an">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>

                            <label for="input2" class="style177">I’m fiery and have a pretty short fuse; my temper can go from zero to sixty faster than a Lamborghini.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input81by" name="input81by">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input81bn" name="input81bn">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I rarely ever compliment my partner on his or her physical appearance. I just expect them to know that if I’m with them, I’m obviously attracted to them.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input82y" name="input82y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input82n" name="input82n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I don’t take accountability when I mess up and barely ever say sorry if I did something wrong to my partner.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input83y" name="input83y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input83n" name="input83n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I often curse at my partner or call him/her hurtful names.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input84y" name="input84y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input84n" name="input84n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">In a relationship, I tend to be a bit selfish and put my desires ahead of my partners’.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input85y" name="input85y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input85n" name="input85n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I often compete with my partner and enjoy the one-upmanship.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input86ay" name="input86ay">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input86an" name="input86an">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">&nbsp;Being in control over most situations is extremely important to me and I don’t feel comfortable otherwise.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input86by" name="input86by">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input86bn" name="input86bn">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I struggle with feelings of low self-esteem.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input87ay" name="input87ay">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input87an" name="input87an">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I’m cocky and quite full of myself. It can be obnoxious at times.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input87by" name="input87by">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input87bn" name="input87bn">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">&nbsp;I am nitpicky and hypercritical of my romantic partner.</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input88y" name="input88y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input88n" name="input88n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                            <label for="input2" class="style177">I have some inner demons, and this often affects my mood.&nbsp;</label>
                            <div class="form-check style455">
                                <input class="form-check-input style456" type="checkbox" value="" id="input89y" name="input89y">
                                <label class="form-check-label style458" for="input58y" style="font-family: PT Serif;">YES</label>
                                <input class="form-check-input style457" type="checkbox" value="" id="input89n" name="input89n">
                                <label class="form-check-label" for="input58y" style="font-family: PT Serif;">NO</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center style250">
                        <a href="{% url 'home' %}" class="btn style251" style="font-family: Montserrat;">submit</a>
                    </div>
                </div>
            </div>
        </section>


        {% include "footer.html" %}
        <script src="{% static 'bootstrap/4/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/4/js/bootstrap.min.js' %}"></script>
    </body>

</html>
