{% load static %}
<div class="container style166 h-auto w-auto position-relative">
    <img src="{% static img %}" class="style242 mt-0">
    
    <div class="d-none d-lg-block">
        <ul class="float-left position-absolute container nav nav-pills">
          {% for i in "1234" %}
          {% with path="claim"|add:i %}
            <li class="nav-item {% if i != '4' %} border-right {% endif %} ">
              <a class="nav-link {% if i == '1' %} pl-0 {% endif %} pt-0 pb-0" href='{% url path %}'>Baggage Claim {{ i }}</a>
            </li>
          {% endwith %}
          {% endfor %}
        </ul>
    </div>
    <div class="d-lg-none">
      <ul class="float-left position-absolute container nav nav-pills">
        <li class="nav-item">
          <a class="nav-link pl-0 pt-0 pb-0" href="{{ request.path }}">Baggage Claim {{ request.path|cut:"/"|make_list|last }} </a>
        </li>
      </ul>
  </div>
</div>