<div class="modal fade" id="claim-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Are you sure you want to continue without filling all the questions?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-confirm="form.validate">Yes</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
        </div>
        </div>
    </div>
</div>
<script>
   $(function () {
        $('form.validate').parsley().on('field:error', function() {
            this.$element.closest("ul").closest("li").children("legend").first().toggleClass("text-danger", true )
        });
        $('form.validate').parsley().on('field:success', function() {
            this.$element.closest("ul").closest("li").children("legend").first().toggleClass("text-danger", false )
        });
        $('form.validate').parsley().on('form:validated', function() {
            var success = $('.parsley-error').length === 0;
            $('.callout-error').toggleClass('d-none', success);
        });
        $('.modal button[data-confirm]').on('click', function(e) {
            var form = $($(e.target).data("confirm"))
            form.attr("no-validate","")
            form.parsley().destroy()
            form.submit()
        })
        $('.modal').on('hidden.bs.modal', function (e) {
            $("form").parsley().whenValidate()
        })
        $('.confirm').on('click', function(e) {
            var form = $(e.target).closest("form")
            var success = form.parsley().isValid()
            if(success){
                form.submit()
            } else {
                $('.modal').modal('show');
            }
        })
    });
</script>