<!doctype html>
{% load static %}
<html>
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>Concept</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap/4/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'dmxAppConnect/dmxBrowser/dmxBrowser.js' %}" defer=""></script>
    </head>

    <body is="dmx-app" id="concept2">
        <div is="dmx-browser" id="browser1"></div>

        {% include "header.html" %}

        <section class="style339b d-none d-xl-block" style="">
            <div class="style342 container-fluid">
                <div class="row style343 h-auto">
                    <div class="style337 col-lg-5 offset-1 col-sm-10 col-10 col-md-6">
                        <img src="{% static 'image/alt1.png' %}" class="style343 d-md-none">

                        <p style="color: #55c0af; font-family: Montserrat;" class="style338b mt-sm-5 pt-sm-5">Baggage Claim is a unique dating platform that pairs users based on the compatibility of their so-called flaws – their emotional and
                        lifestyle “baggage.” Baggage Claim’s premise is that true compatibility is more a function of complementary imperfections of than any other trait.&nbsp;</p>
                        <p style="font-family: PT Serif; color: #d1d3d4; font-size: 16px;" class="style340 w-auto">People can find so many ways to get along - that’s the easy part. The difficulty is for partners to get along when they find their traits
                        clashing. With divorce rates at an all-time high, and more options than ever – with less fulfillment than ever – it’s time to look at how people pick their partners, and why it isn’t working. One need only look around at
                        relationships to see that when they end, it is almost always because of people’s inability to accept or cope with each other’s particular brand of baggage.&nbsp;</p>
                    </div>

                </div>
            </div>
        </section>
        <section class="style339b d-none d-lg-block d-xl-none" style="">
            <div class="style342 container-fluid">
                <div class="row style343 h-auto">
                    <div class="style337 col-lg-5 offset-1 col-sm-10 col-10 col-md-6">
                        <img src="{% static 'image/alt1.png' %}" class="style343 d-md-none">

                        <p style="color: #55c0af; font-family: Montserrat;" class="style338b mt-sm-5 pt-sm-5">Baggage Claim is a unique dating platform that pairs users based on the compatibility of their so-called flaws – their emotional and
                        lifestyle “baggage.” Baggage Claim’s premise is that true compatibility is more a function of complementary imperfections of than any other trait.&nbsp;</p>
                        <p style="font-family: PT Serif; color: #d1d3d4; font-size: 14px;" class="style340 w-auto">People can find so many ways to get along - that’s the easy part. The difficulty is for partners to get along when they find their traits
                        clashing. With divorce rates at an all-time high, and more options than ever – with less fulfillment than ever – it’s time to look at how people pick their partners, and why it isn’t working. One need only look around at
                        relationships to see that when they end, it is almost always because of people’s inability to accept or cope with each other’s particular brand of baggage.&nbsp;</p>
                    </div>

                </div>
            </div>
        </section>
        <section class="style339b d-none d-md-block d-lg-none" style="">
            <div class="style342 container-fluid">
                <div class="row style343 h-auto">
                    <div class="style337 col-lg-5 offset-1 col-sm-10 col-10 col-md-6">
                        <img src="{% static 'image/alt1.png' %}" class="style343 d-md-none">

                        <p style="color: #55c0af; font-family: Montserrat; font-size: 15px;" class="style338b mt-sm-5 pt-sm-5">Baggage Claim is a unique dating platform that pairs users based on the compatibility of their so-called flaws – their
                        emotional and
                        lifestyle “baggage.” Baggage Claim’s premise is that true compatibility is more a function of complementary imperfections of than any other trait.&nbsp;</p>
                        <p style="font-family: PT Serif; color: #d1d3d4; font-size: 13px;" class="style340 w-auto">People can find so many ways to get along - that’s the easy part. The difficulty is for partners to get along when they find their traits
                        clashing. With divorce rates at an all-time high, and more options than ever – with less fulfillment than ever – it’s time to look at how people pick their partners, and why it isn’t working. One need only look around at
                        relationships to see that when they end, it is almost always because of people’s inability to accept or cope with each other’s particular brand of baggage.&nbsp;</p>
                    </div>

                </div>
            </div>
        </section>
        <section class="style339b d-md-none" style="">
            <div class="row">
                <div class="col">
                    <img src="{% static 'image/concept1b.jpg' %}" height="400px" class="img-fluid">
                </div>
            </div>
        </section>
        <section class="style346 d-md-none">
            <div class="row">
                <div class="style337 col-lg-5 offset-1 col-10 col-md-6 offset-sm-1 col-sm-10 text-sm-center text-center">

                    <p style="color: #55c0af; font-family: Montserrat; font-size: 14px;" class="style338b mt-sm-5 pt-sm-5">Baggage Claim is a unique dating platform that pairs users based on the compatibility of their so-called flaws – their emotional
                    and lifestyle
                    “baggage.” Baggage Claim’s premise is that true compatibility is more a function of complementary imperfections of than any other trait.&nbsp;</p>
                    <p style="font-family: PT Serif; color: #d1d3d4; font-size: 13px;" class="style340 w-auto">People can find so many ways to get along - that’s the easy part. The difficulty is for partners to get along when they find their traits
                    clashing. With divorce rates at an all-time high, and more options than ever – with less fulfillment than ever – it’s time to look at how people pick their partners, and why it isn’t working. One need only look around at
                    relationships to see that when they end, it is almost always because of people’s inability to accept or cope with each other’s particular brand of baggage.&nbsp;</p>
                </div>
            </div>
        </section>
        <section class="style344 d-sm-none" style="height: 750px;">
            <div class="container style345" style="height: 790px;">
                <div class="row row-cols-md-7 w-auto" style="">
                    <div class="col-6 undefined-NaN col-md-2 text-right text-sm-center style351 d-lg-none">
                        <img src="{% static 'image/mulher.png' %}" class="style347">
                    </div>
                    <div class="col-6 style350 col-md-2 text-left text-sm-center d-lg-none">
                        <img src="{% static 'image/homem.png' %}" class="style348 w-auto">
                    </div>
                    <div class="col-12 d-md-none col-sm style425">

                        <p class="text-center style349" style="font-size: 14px; font-family: PT Serif;">So, if baggage isn’t a flaw, what is it? Imperfections are simply individual characteristics that make up a part of who we are. These characteristics
                        are a culmination of personality, past experience, and individual choice. We’ve been going about the role of baggage all wrong! Instead of sweeping it under the rug, baggage should be the primary factor in dating. Therefore,
                        Baggage Claim focuses on the need for assessing baggage as the key component of compatibility. As we have become spoiled by choice, we have lost sight of an old truth. Perhaps Jane Austin said it best, “It is our imperfections
                        that make us so perfect for one another.”</p>
                        <p style="font-size: 14px; font-family: PT Serif; color: #15675a;" class="text-center style352">Baggage Claim Matching is unlike other dating platforms that encourage users to present a polished and idealized version of
                        themselves. Baggage Claim was founded on the belief that baggage is not an imperfection. Rather, it only becomes an imperfection when paired with the wrong person. Therefore, baggage should not be hidden, nor prohibit people
                        from pursuing the basic human desire to find love.</p>
                    </div>


                </div>
            </div>
        </section>
        <section class="style344 d-none d-sm-block d-md-none" style="height: 750px;">
            <div class="container style345" style="height: 750px;">
                <div class="row row-cols-md-7 w-auto">
                    <div class="col-6 undefined-NaN col-md-2 text-right text-sm-center style351 d-lg-none">
                        <img src="{% static 'image/mulher.png' %}" class="style347 mt-sm-5 pt-sm-0">
                    </div>
                    <div class="col-6 style350 col-md-2 text-left text-sm-center d-lg-none">
                        <img src="{% static 'image/homem.png' %}" class="style348 w-auto mt-sm-5">
                    </div>
                    <div class="col-12 d-md-none col-sm style425">

                        <p class="text-center style349" style="font-size: 14px; font-family: PT Serif;">So, if baggage isn’t a flaw, what is it? Imperfections are simply individual characteristics that make up a part of who we are. These characteristics
                        are a culmination of personality, past experience, and individual choice. We’ve been going about the role of baggage all wrong! Instead of sweeping it under the rug, baggage should be the primary factor in dating. Therefore,
                        Baggage Claim focuses on the need for assessing baggage as the key component of compatibility. As we have become spoiled by choice, we have lost sight of an old truth. Perhaps Jane Austin said it best, “It is our imperfections
                        that make us so perfect for one another.”</p>
                        <p style="font-size: 14px; font-family: PT Serif; color: #15675a;" class="text-center style352">Baggage Claim Matching is unlike other dating platforms that encourage users to present a polished and idealized version of
                        themselves. Baggage Claim was founded on the belief that baggage is not an imperfection. Rather, it only becomes an imperfection when paired with the wrong person. Therefore, baggage should not be hidden, nor prohibit people
                        from pursuing the basic human desire to find love.</p>
                    </div>


                </div>
            </div>
        </section>
        <section class="style344 d-none d-lg-block" style="">
            <div class="container style345">
                <div class="row row-cols-md-7 w-auto">
                    <div class="col-6 undefined-NaN col-md-2 text-right text-sm-center style351 d-none d-md-block">
                        <img src="{% static 'image/mulher.png' %}" class="style354">
                    </div>
                    <div class="col-12 d-none d-md-block w-auto h-auto col-md-8 offset-lg-0 col-lg-7">

                        <p class="text-center style349 w-auto pt-lg-5 pl-lg-5" style="font-size: 15px; font-family: PT Serif;">So, if baggage isn’t a flaw, what is it? Imperfections are simply individual characteristics that make up a part of who we are.
                        These characteristics are a culmination of personality, past experience, and individual choice. We’ve been going about the role of baggage all wrong! Instead of sweeping it under the rug, baggage should be the primary factor
                        in dating. Therefore, Baggage Claim focuses on the need for assessing baggage as the key component of compatibility. As we have become spoiled by choice, we have lost sight of an old truth. Perhaps Jane Austin said it best,
                        “It is our imperfections that make us so perfect for one another.”</p>
                        <p style="font-size: 15px; font-family: PT Serif; color: #15675a;" class="text-center style353 h-auto w-auto pl-lg-5">Baggage Claim Matching is unlike other dating platforms that encourage users to present a polished and idealized
                        version of themselves. Baggage Claim was founded on the belief that baggage is not an imperfection. Rather, it only becomes an imperfection when paired with the wrong person. Therefore, baggage should not be hidden, nor
                        prohibit people from pursuing the basic human desire to find love.</p>
                    </div>
                    <div class="col-6 style350 col-md-2 text-left text-sm-center text-lg-left d-none d-md-block">
                        <img src="{% static 'image/homem.png' %}" class="style355">
                    </div>


                </div>
            </div>
        </section>
        <section class="style344 d-none d-md-block d-lg-none" style="">
            <div class="container style345">
                <div class="row row-cols-md-7 w-auto">
                    <div class="col-6 undefined-NaN col-md-2 text-right text-sm-center style351 d-none d-md-block h-auto w-auto">
                        <img src="{% static 'image/mulher.png' %}" class="style354">
                    </div>
                    <div class="col-12 d-none d-md-block w-auto h-auto offset-lg-0 col-lg-7 col-md-7 offset-md-1">

                        <p class="text-center style349 w-auto pt-lg-5 pl-lg-5" style="font-size: 14px; font-family: PT Serif;">So, if baggage isn’t a flaw, what is it? Imperfections are simply individual characteristics that make up a part of who we are.
                        These characteristics are a culmination of personality, past experience, and individual choice. We’ve been going about the role of baggage all wrong! Instead of sweeping it under the rug, baggage should be the primary factor
                        in dating. Therefore, Baggage Claim focuses on the need for assessing baggage as the key component of compatibility. As we have become spoiled by choice, we have lost sight of an old truth. Perhaps Jane Austin said it best,
                        “It is our imperfections that make us so perfect for one another.”</p>
                        <p style="font-size: 14px; font-family: PT Serif; color: #15675a;" class="text-center style353 h-auto w-auto pl-lg-5">Baggage Claim Matching is unlike other dating platforms that encourage users to present a polished and idealized
                        version of themselves. Baggage Claim was founded on the belief that baggage is not an imperfection. Rather, it only becomes an imperfection when paired with the wrong person. Therefore, baggage should not be hidden, nor
                        prohibit people from pursuing the basic human desire to find love.</p>
                    </div>
                    <div class="col-6 style350 col-md-2 text-left text-sm-center text-lg-left d-none d-md-block">
                        <img src="{% static 'image/homem.png' %}" class="style355">
                    </div>


                </div>
            </div>
        </section>
        <section class="style363 d-lg-none">
            <div class="container style364 text-center">
                <div class="row">
                    <div class="style358 offset-xl-1 col-xl-10 col-12 col-lg-12">
                        <p class="text-xl-center style359" style="font-size: 13px; font-family: PT Serif; color: #bcbec0;">This is why Baggage Claim is designed for those who recognize that there must be a better way to date. For people who want to
                        connect beyond a surface level. For those who desire to make peace with all parts of themselves. For those who seek more than a relationship that just feels good in the “now.” For those who want a relationship that withstands
                        the test of time, and the bumps that inevitably come.</p>
                        <p class="style361" style="font-family: Montserrat; font-size: 13px; color: #55c0af;">Baggage Claim Matching is unlike other dating platforms that encourage users to present a polished and idealized version of themselves. Baggage
                        Claim was founded on the belief that baggage is not an imperfection. Rather, it only becomes an imperfection when paired with the wrong person. Therefore, baggage should not be hidden nor prohibit people from pursuing the
                        basic human desire to find love.</p>
                        <p class="style360" style="font-family: PT Serif; font-size: 13px; color: #bcbec0;">At the core of Baggage Claim’s philosophy is that authenticity and vulnerability should be acknowledged and celebrated. It’s time to do away with
                        toxic shame; to eliminate judgement for being too much or too little, too broken, or too complicated. Baggage Claim is a celebration of the universal truth that nobody is perfect. Indeed, the deeper and more honest one is with
                        oneself, the better the chances of forming healthy and meaningful relationships.&nbsp;</p>
                    </div>
                </div>

            </div>
        </section>
        <section class="d-none d-lg-block laptop1">
            <div class="container style364 text-center">
                <div class="row style424">
                    <div class="style358 offset-xl-1 col-xl-10 col-12 col-lg-12">
                        <p class="text-xl-center style359" style="font-size: 16px; font-family: PT Serif; color: #bcbec0; text-align: justify;">This is why Baggage Claim is designed for those who recognize that there must be a better way to date. For
                        people who want to
                        connect beyond a surface level. For those who desire to make peace with all parts of themselves. For those who seek more than a relationship that just feels good in the “now.” For those who want a relationship that withstands
                        the test of time, and the bumps that inevitably come.</p>
                        <p class="style361" style="font-family: Montserrat; font-size: 16px; color: #55c0af; text-align: justify;">Baggage Claim Matching is unlike other dating platforms that encourage users to present a polished and idealized version of
                        themselves. Baggage
                        Claim was founded on the belief that baggage is not an imperfection. Rather, it only becomes an imperfection when paired with the wrong person. Therefore, baggage should not be hidden nor prohibit people from pursuing the
                        basic human desire to find love.</p>
                        <p class="style360" style="font-family: PT Serif; font-size: 16px; color: #bcbec0; text-align: justify;">At the core of Baggage Claim’s philosophy is that authenticity and vulnerability should be acknowledged and celebrated. It’s
                        time to do away with
                        toxic shame; to eliminate judgement for being too much or too little, too broken, or too complicated. Baggage Claim is a celebration of the universal truth that nobody is perfect. Indeed, the deeper and more honest one is with
                        oneself, the better the chances of forming healthy and meaningful relationships.&nbsp;</p>
                    </div>
                </div>

            </div>
        </section>
        <section class="style365 d-sm-none">
            <div class="container style366">
                <div class="row text-center">
                    <div class="col-sm-10 col-12" style="color: #bcbec0;">
                        <p style="font-family: PT Serif; font-size: 13px; text-align: justify;" class="style368 mt-5 pt-5">Baggage Claim Matching is a dating platform that assesses the compatibility of its users based on 89 essential elements. Its
                        proprietary algorithm was
                        developed
                        by a Licensed Marriage and Family Therapist, human dynamics and Psychology expert, a renowned dating coach, and an emotional intelligence researcher. It employs a holistic approach to quantifying compatibility. Baggage Claim’s
                        unique measuring tool encompasses lifestyle, emotional tendencies, behavioral patterns and personal outlook. The interface goes beyond illuminating and computing users’ baggage. It also provides research-based tips on the way
                        each combination of individual traits would unfold in a potential relationship. The platform further prepares matches for success by simulating how interactions will most likely play out.</p>
                    </div>
                    <div class="col-sm-8 offset-sm-2 mt-3" style="font-family: PT Serif;">


                        <p style="font-family: Montserrat; font-size: 12px; color: #6d6e71;" class="style-cel2">
                        Baggage Claim Matching is currently available globally for web browsers. The mobile app will be available soon for iOs and android.&nbsp;</p>
                        <a class="btn style369" style="font-size: 12px; font-family: Montserrat; color: #55c0af;">Click here
                            to stay in the loop&nbsp;</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="style365 d-none d-sm-block d-md-none">
            <div class="container">
                <div class="row text-center style370">
                    <div class="offset-1 col-10 col-sm-10" style="color: #bcbec0;">
                        <p style="font-family: PT Serif; font-size: 13px; text-align: justify;" class="style371">Baggage Claim Matching is a dating platform that assesses the compatibility of its users based on 89 essential elements. Its proprietary
                        algorithm was developed
                        by a Licensed Marriage and Family Therapist, human dynamics and Psychology expert, a renowned dating coach, and an emotional intelligence researcher. It employs a holistic approach to quantifying compatibility. Baggage Claim’s
                        unique measuring tool encompasses lifestyle, emotional tendencies, behavioral patterns and personal outlook. The interface goes beyond illuminating and computing users’ baggage. It also provides research-based tips on the way
                        each combination of individual traits would unfold in a potential relationship. The platform further prepares matches for success by simulating how interactions will most likely play out.</p>
                    </div>
                    <div class="col-sm-8 offset-sm-2" style="font-family: PT Serif;">


                        <p style="font-family: Montserrat; font-size: 12px; color: #6d6e71;" class="style372">
                        Baggage Claim Matching is currently available globally for web browsers. The mobile app will be available soon for iOs and android.&nbsp;</p>
                        <a class="btn style-cel" style="font-size: 12px; font-family: Montserrat; color: #55c0af;">Click here
                            to stay in the loop&nbsp;</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-none d-md-block d-lg-none">
            <div class="style373 container-fluid">
                <div class="row text-center">
                    <div class="offset-1 col-10 col-sm-10 col-md-6" style="color: #bcbec0;">
                        <p style="font-family: PT Serif; font-size: 13px; text-align: justify;" class="style376">Baggage Claim Matching is a dating platform that assesses the compatibility of its users based on 89 essential elements. Its proprietary
                        algorithm was developed
                        by a Licensed Marriage and Family Therapist, human dynamics and Psychology expert, a renowned dating coach, and an emotional intelligence researcher. It employs a holistic approach to quantifying compatibility. Baggage Claim’s
                        unique measuring tool encompasses lifestyle, emotional tendencies, behavioral patterns and personal outlook. The interface goes beyond illuminating and computing users’ baggage. It also provides research-based tips on the way
                        each combination of individual traits would unfold in a potential relationship. The platform further prepares matches for success by simulating how interactions will most likely play out.</p>
                    </div>
                    <div class="col-sm-8 offset-sm-2 col-md-4 style379 offset-md-1" style="font-family: PT Serif;">


                        <p style="font-family: Montserrat; font-size: 12px; color: #6d6e71;" class="style377">
                        Baggage Claim Matching is currently available globally for web browsers. The mobile app will be available soon for iOs and android.&nbsp;</p>
                        <a class="btn style378" style="font-size: 12px; font-family: Montserrat; color: #55c0af;">Click here
                            to stay in the loop&nbsp;</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="style-ipad text-xl-right d-none d-lg-block d-xl-none">
            <div class="text-xl-right container-fluid style384">
                <div class="row text-center">
                    <div class="offset-1 col-10 col-sm-10 col-md-6 offset-lg-2 col-lg-6 col-xl-6" style="color: #bcbec0;">
                        <p style="font-family: PT Serif; font-size: 14px; text-align: justify;" class="style380">Baggage Claim Matching is a dating platform that assesses the compatibility of its users based on 89 essential elements. Its proprietary
                        algorithm was developed
                        by a Licensed Marriage and Family Therapist, human dynamics and Psychology expert, a renowned dating coach, and an emotional intelligence researcher. It employs a holistic approach to quantifying compatibility. Baggage Claim’s
                        unique measuring tool encompasses lifestyle, emotional tendencies, behavioral patterns and personal outlook. The interface goes beyond illuminating and computing users’ baggage. It also provides research-based tips on the way
                        each combination of individual traits would unfold in a potential relationship. The platform further prepares matches for success by simulating how interactions will most likely play out.</p>
                    </div>
                    <div class="col-sm-8 offset-sm-2 style379 offset-md-1 col-md-3" style="font-family: PT Serif;">



                        <a class="btn style395" style="font-family: Montserrat; font-size: 13px; color: #55c0af;"><br></a></div>
                </div>
            </div>
        </section>
        <section class="style-ipad text-xl-right d-none d-xl-block">
            <div class="text-xl-right container-fluid style384">
                <div class="row text-center">
                    <div class="offset-1 col-10 col-sm-10 col-md-6 offset-lg-2 col-lg-6 col-xl-6" style="color: #bcbec0;">
                        <p style="font-family: PT Serif; font-size: 18px; text-align: justify;" class="style380">Baggage Claim Matching is a dating platform that assesses the compatibility of its users based on 89 essential elements. Its proprietary
                        algorithm was developed
                        by a Licensed Marriage and Family Therapist, human dynamics and Psychology expert, a renowned dating coach, and an emotional intelligence researcher. It employs a holistic approach to quantifying compatibility. Baggage Claim’s
                        unique measuring tool encompasses lifestyle, emotional tendencies, behavioral patterns and personal outlook. The interface goes beyond illuminating and computing users’ baggage. It also provides research-based tips on the way
                        each combination of individual traits would unfold in a potential relationship. The platform further prepares matches for success by simulating how interactions will most likely play out.</p>
                    </div>
                    <div class="col-sm-8 offset-sm-2 style379 offset-md-1 col-md-3" style="font-family: PT Serif;">



                        <a class="btn style397" style="font-family: Montserrat; font-size: 13px; color: #55c0af;"><br></a></div>
                </div>
            </div>
        </section>
        {% include "footer.html" %}
        <script src="{% static 'bootstrap/4/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/4/js/bootstrap.min.js' %}"></script>
    </body>

</html>
