<!doctype html>
{% load static %}
<html>
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>My destination</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap/4/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    </head>

    <body is="dmx-app" id="destination">

        {% include "header.html" %}
        {% block content %}

        <section class="style166 pt-5 pb-5 container-fluid" style="background-image: url(&quot;../image/matches.jpg&quot;); background-color: #e6e8e7;">
            <div class="style403 container">
                {% for m in matches %}
                    {% include "passport.html" with user=m.user match=m.match %}
                {% endfor %}
            </div>
        </section>
        {% endblock %}
        {% include "footer.html" %}
        <script src="{% static 'bootstrap/4/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/4/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    </body>

</html>
