<!doctype html>
{% load static %}
<html>

    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>Press</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap/4/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>

    <body is="dmx-app" id="press2" style="background-color: #000;">

        {% include "header.html" %}

        <section class="style438 d-none d-lg-block">

            <div class="container">
                <div class="row">
                    <div class="col-12 style429">

                        <h1 style="color: #55c0af; font-size: 36px;" class="style428">PRESS</h1>
                        <p style="color: #babcbd; font-size: 12px;" class="style434">Baggage Claim Matching is a platform 
                            designed to pair people for romantic relationships. It operates under the premise that emotional 
                            and lifestyle “baggage,” is not a flaw, but rather the most important characteristic in defining 
                            long term relationship success. <br><br>
                            The ethos of Baggage Claim is in the philosophy that vulnerability should be openly acknowledged 
                            and embraced. Baggage Claim Matching and its unique assessment-based algorithm were created by a 
                            group of innovators including: a Licensed Marriage and Family Therapist, a human dynamics and Psychology 
                            expert, a renowned dating coach, and an emotional intelligence researcher. <br><br>
                            The platform launched in 2021. It was publicly introduced on the Bravo TV network and has received 
                            acclaim from practicing members of both the American Psychological Association (APA) and the California
                             Associate of Marriage and Family Therapists (CAMFT).<br><br></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="text-right col-lg-5" style="color: #babcbd; font-size: 12px;">
                        <p>Press inquiries:&nbsp;</p>
                    </div>
                    <div class="col text-left " >
                        <p><a style="color: #55c0af; font-size: 12px;" href="mailto:contact@baggageclaimmatching.com" >contact@baggageclaimmatching.com</a></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <img src="{% static 'image/linha.png' %}" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col text-center">
                        <a class="btn" style="color: #babcbd;"href="static/image/logo-1.pdf" target="_blank">logo download</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="style438 d-lg-none">



            <div class="container">
                <div class="row">
                    <div class="col-12 style429">

                        <h1 style="color: #55c0af; font-size: 36px;" class="style428">PRESS</h1>
                        <p style="color: #babcbd; font-size: 14px;" class="style434">Baggage Claim Matching is a platform designed to pair people for romantic relationships. It operates under the premise that emotional and
                        lifestyle “baggage,”
                        is not a flaw, but rather the most important characteristic in defining long term relationship success. The ethos of Baggage Claim is in the philosophy that vulnerability should be openly acknowledged and embraced.
                        Baggage Claim Matching is a platform designed to pair people for romantic relationships. It operates under the premise that emotional and lifestyle “baggage,” is not a flaw, but rather the most important characteristic in
                        defining long term relationship success. The ethos of Baggage Claim is in the philosophy that vulnerability should be openly acknowledged and embraced.

                        Baggage Claim Matching and its unique assessment-based algorithm, were created by a Licensed Marriage and Family Therapist, human dynamics and Psychology expert, a renowned dating coach, and an emotional intelligence
                        researcher. The platform launched in 2021. It was publicly introduced on the Bravo TV network and has received acclaim from practicing members of both the American Psychological Association (APA) and the California Associate
                        of Marriage and Family Therapists (CAMFT).<br><br></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="text-center col-md-12 col-sm-12 style444" style="font-family: PT Serif; color: #babcbd;">
                        <p style="">Press inquiries:&nbsp;</p>
                    </div>
                    <div class="col text-center style443" >
                        <p><a style="color: #55c0af;" href="mailto:contact@baggageclaimmatching.com" >contact@baggageclaimmatching.com</a></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center style442">
                        <img src="{% static 'image/linha.png' %}" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="container mt-md-4 style441">
                <div class="row">
                    <div class="text-center col-12">
                        <a class="btn" style="color: #babcbd;"href="static/image/logo-1.pdf" target="_blank">logo download</a>
                    </div>
                </div>
            </div>
        </section>
        {% include "footer.html" %}
        <script src="{% static 'bootstrap/4/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/4/js/bootstrap.min.js' %}"></script>
    </body>

</html>
