<!doctype html>
{% load static %}
<html>

    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>Profile</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap/4/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>

    <body is="dmx-app" id="free_profile">
        <div is="dmx-browser" id="browser1"></div>

        {% include "header.html" %}
        {% block content %}

        <section class="style167">
            <div class="container style166">
                <img src="{% static 'image/passport.png' %}" class="img-fluid">
            </div>
            <div class="container style165">
                <div class="row">
                    <div class="col">

                        {{ form.non_field_errors }}

                        <form id="form1" method="post">
                            {% csrf_token %}

                            {% if user_profile.stamp_count %}
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input23" >Select at most <b>two</b> stamps to show on your passport:</label>
                                    {{ form.selected_stamps }}
                                </div>
                            </div>
                            {% endif %}

                            <script>
                                var limit = 3;
                                $('#id_selected_stamps li input').on('change', function(evt) {
                                    if($('#id_selected_stamps li input:checked').length >= limit)
                                        this.checked = false;
                                });
                            </script>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input23" >First Name</label>
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input23" >Last Name</label>
                                    {{ form.last_name }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group style203">
                                    {{ form.age.errors }}
                                    <label for="input1" class="style169">• Age: 18+</label>
                                    {{ form.age }}
                                </div>
                            </div>
                            <div class="col-12 style204">
                                <div class="form-group">
                                    <label for="input2" class="style177">• Gender:</label>
                                    {{ form.gender }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="input3" class="style177">• Sexual Orientation:</label>
                                    {{ form.sexual_orientation }}
                                </div>
                            </div>
                            <div class="col-12">
                                <p class="style182 mt-md-4">• Location:</p>
                                <div class="form-group style178">
                                    <label for="input2" class="style169">City:</label>
                                    {{ form.location_city }}
                                </div>
                                <div class="form-group style179">
                                    <label for="input3" class="style169">State:</label>
                                    {{ form.location_state }}
                                </div>
                                <div class="form-group style180">
                                    <label for="input4" class="style169">Country:</label>
                                    {{ form.location_country }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input4" class="style177">• Education level:</label>
                                    {{ form.education }}
                                </div>
                            </div>
                            <div class="style451 col-md-9 col-lg-8 col-xl-6 col-sm-11">
                                <img class="style205" src="{% static 'image/photo_prof3.png' %}">
                                {{ form.user_avatar }}
                            </div>
                            
                            
                            <div class="w-auto h-auto col-lg-12 col-12" style='margin-top: 4em;'>
                                <div class="form-group">
                                    <label for="input2" class="style177">• Religion:
                                        Select all that apply</label>
                                    {{ form.religion }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input2" class="style177">Are you traveling alone?</label>
                                    {{ form.children }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input2" class="style177">Choose your destination:</label>
                                    {{ form.destination }}
                                </div>
                            </div>
                            <div class="col-12">

                                <p style="style177">Now is your chance to share more about what makes you unique:</p>
                                <div class="form-group">
                                    <label for="input18" >1. The best things about being in a relationship with me are:</label>
                                    {{ form.question1 }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input19" >2. An ideal relationship consists of:</label>
                                    {{ form.question2 }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input20" >3. The qualities I find most irresistible are:</label>
                                    {{ form.question3 }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input21" >4. I’m still single because:</label>
                                    {{ form.question4 }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input22" >5. The things that give me the greatest joy are:</label>
                                    {{ form.question5 }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input23" >6. The most important thing to know about me before we meet is:</label>
                                    {{ form.question6 }}
                                </div>
                            </div>
                            <div class="text-right style199 col-lg-8 col-xl-9">
                                <p style="" class="style198 text-center">You’re off to a great start! In order to continue, please answer all fields and go to baggage claim.</p>
                            </div>
                            
                            <div class="col-12 text-center mb-lg-5 mb-md-5 mb-sm-5 mb-5">
                                <button class="btn style197 mr-5" type="submit">Save</button>
                            </div>
                            <!-- <button id="btn2" class="btn style197 mb-lg-5 mb-md-5 mb-sm-5 mb-5" style="display: inline-block;" type="submit">Submit</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}

        {% include "footer.html" %}
        <script src="{% static 'bootstrap/4/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/4/js/bootstrap.min.js' %}"></script>
    </body>

</html>
